<ion-header background="dark">
    <page-navbar [menu]="false">
        <div buttons>
        </div>
        <span nav-title>Mi historia de Salud | Accesos</span>
    </page-navbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item *ngFor='let acceso of accesos | textFilter:textoLibre;let i = index'>
            <ion-row justify-content-between >
                <ion-col class="itemsAlingLeft">
                    <div class="andes-container">
                        <div class="andes-wraper">
                            <div class="andes-list-title">
                                <strong>{{acceso.fecha | date: "d 'de' MMMM yyyy" }} |
                                        {{acceso.fecha | date: "HH:mm"}}</strong><br>
                            </div>
                            <ion-icon class="icon-action left xl" name="andes-profesional"></ion-icon>
                            <span class="info-profesional" >{{acceso.usuario.nombreCompleto}} <ng-container *ngIf='acceso.usuario.formacionGrado?.length'> | {{ acceso.usuario.matricula }} </ng-container></span>
                        </div>
                    </div>
                    
                </ion-col>
                <ion-col class="itemsAlingRight" col-1>
                    <ion-icon class="icon-action right xl" name="ios-arrow-forward-outline"
                        (click)='verDetalleAccesoMiHUDS(acceso)'>
                    </ion-icon>
                </ion-col>

            </ion-row>
        </ion-item>
        <ion-item *ngIf="!accesos?.length">
            <h2> <strong>
                    No existen registros de acceso a su información de salud.
                </strong></h2>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll *ngIf="!hideInfinite" threshold="300px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
