<ion-header class="dark" translucent="true">
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="home" text=""></ion-back-button>
        <ion-title><small>Registro en MPI</small></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="dark">

    <div class="no-item" *ngIf="inProgress">
        <ads-icon icon="ball-triangle"></ads-icon>
    </div>

    <ion-card *ngIf="paciente && !inProgress">
        <ion-card-header>
            <ion-avatar>
                <ion-icon name="person-circle-outline" color="primary" class="icono-info"></ion-icon>
            </ion-avatar>
            <ion-card-subtitle class="ion-text-uppercase">Registro de paciente</ion-card-subtitle>
            <ion-card-title class="ion-text-uppercase" color="dark">{{ paciente.apellido }},
                {{ paciente.nombre }}
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-label>
                    <h3 class="badge success" *ngIf="estado === 'nuevo'"> NUEVO</h3>
                    <h3 class="badge success" *ngIf="estado === 'temporal'"> ACTUALIZAR </h3>
                    <h3 class="badge danger" *ngIf="estado === 'validado'">VALIDADO </h3>
                </ion-label>
                <ion-item>
                    <ion-label color="dark">
                        <b>Género</b>
                        <p>{{ paciente.sexo }}</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label color="dark">
                        <b>Documento</b>
                        <p>{{ paciente.documento }}</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label color="dark">
                        <b>Fecha de nacimiento</b>
                        <p>{{ paciente.fechaNacimiento | date: "dd/MM/yyyy" }}</p>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-button expand="block" color="success" class="ion-margin" size="medium" (click)="save()"
        *ngIf="estado !== 'validado'" [disabled]="saving">
        Confirmar Datos
    </ion-button>
</ion-content>
