<ion-header class="dark" translucent="true">
    <ion-toolbar>
        <ion-back-button slot="start" [defaultHref]="backPage" text=""></ion-back-button>
        <ion-title><small>Mis datos personales</small></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="dark">

    <ion-card *ngIf="profesional">
        <ion-card-header>
            <ion-avatar>
                <ion-icon name="person-circle-outline" color="primary" class="icono-info"></ion-icon>
            </ion-avatar>
            <ion-card-subtitle class="ion-text-uppercase">Datos y preferencias de usuario</ion-card-subtitle>
            <ion-card-title class="ion-text-uppercase">{{profesional.apellido.toLowerCase()}},
                {{profesional.nombre.toLowerCase()}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label color="dark">
                        <b><b>Documento</b></b>
                        <p>{{profesional.documento}}</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label color="dark">
                        <b>¿Desea mantener su sesión abierta?</b>
                        <p>
                            <ion-toggle [(ngModel)]="sesion" (ionChange)="cambiarSesion()"></ion-toggle>
                        </p>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>



    <!-- <div class="andes-detalle" *ngIf="profesional">
        <div class="andes-detalle-contenedor" *ngIf="profesional">
            <div class="titulo-prefix">Nombre Completo</div>
            <ul class="andes-list">
                <li>
                    <div class="andes-container">
                        <ion-icon class="icon-action left xl" name="andes-profesional"></ion-icon>
                        <div class="andes-wraper">
                            <div class="andes-list-prefix">Nombre completo</div>
                            <h2 class="andes-list-title">
                                {{profesional.nombre}}, {{profesional.apellido}}
                            </h2>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="andes-container">
                        <ion-icon class="icon-action left xl" name="card"></ion-icon>
                        <div class="andes-wraper">
                            <div class="andes-list-prefix">Documento</div>
                            <h2 class="andes-list-title">
                                {{profesional.documento}}
                            </h2>
                        </div>
                    </div>
                </li>
            </ul>
            <br>
            <div>
                <span class="andes-list-title">
                    ¿Desea mantener su session abierta?
                </span>
                <ion-toggle [(ngModel)]="sesion" (ionChange)="cambiarSesion()"></ion-toggle>

            </div>
        </div>
    </div> -->
</ion-content>
