page-vacunas {
 .no-item {
    margin-top: 10%;
    text-align: center;
  }

  .vacuna-item {
  padding-left: 15px;
  h2 {
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
  }
  .header {
    ion-icon {
      margin-right: 3px;
    }
    .header_action {
      position: absolute;
      top: 5px;
      right: 10px;
    }
    .header_title {
      .fecha,
      .hora {
        margin-right: 10px;
      }
      .tag {
        height: 100%;
        padding: 3px 7px;
        vertical-align: -1px;
        margin-left: 20px;
      }
      &.alert .text {
        color: rgb(52, 183, 229);
      }
    }
    .menu {
      width: 16px;
      font-size: 35px;
      text-align: center;
      color: grey;
    }
  }
  .description {
    padding-top: 10px;
    p {
      white-space: normal;
    }
    .description-title {
      padding-top: 10px;
      font-weight: bold;
      color: rgb(52, 183, 229);
    }
  }
}

}
