<!--
  Generated template for the VacunasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <page-navbar [mostrarMenu]="mostrarMenu">
    <span nav-title> Mis Vacunas </span>
  </page-navbar>
</ion-header>


<ion-content padding>
  <div class="vacuna-item">
    <ion-item-group *ngIf="vacunas?.length > 0" >
      <ion-item *ngFor="let vacuna of vacunas">

        <div class="header">
          <span class="dosis">
            {{vacuna.Dosis}}
          </span>

          <h2>
            {{vacuna.Vacuna}}
          </h2>
        </div>

        <div float-left>
          <ion-icon name="md-calendar"></ion-icon>
          <span class="text">{{ vacuna.FechaAplicacion | date: "d 'de' MMMM 'de' yyyy"}} </span>
        </div>

        <!-- <div *ngIf="vacuna?.efector" float-right> -->
        <div float-right>
          <i class="icon icon-hospital"></i>
          <span class="text">Hospital castro rendon</span>
        </div>


      </ion-item>
    </ion-item-group>

    <div *ngIf="vacunas?.length == 0" class="no-item">
      <h3> No tienes vacunas registradas </h3>
    </div>
  </div>
</ion-content>
