page-login {
  .login-form,
  .content {
    background-color: #062837;
  }
  text-align: center;
  .logo-andes {
    margin: 10% auto 0;
    width: 40%;
  }
  .login-form {
    .text-input {
      color: $label-dark;
    }
    .button {
      margin-top: 15px;
      margin-bottom: 15px;
      padding: 20px;
    }
    .login {
      background-color: #8CC63F;
    }
    .item .item-inner {
      border-bottom-color: cyan;
    }
  }
}
