<div id='listadoProfesionales'>
    <ion-row justify-content-between>
        <ion-col>
            <ion-searchbar [(ngModel)]="textoLibre" placeholder="Buscar" (change)="buscar($event)">
            </ion-searchbar>
        </ion-col>
    </ion-row>
    <ion-row justify-content-between class="centrado" *ngIf="dataPage && dataPage.descripcion !== 'Conducción'">
        <ion-col col-md>
            <ion-label color="dark">
                <i color="dark">En el listado detallado no está considerado aquel talento humano que se encuentra
                    ocupando
                    cargos de
                    conducción. Fuente: Base de Sistema RRHH Provincial.</i>
            </ion-label>
        </ion-col>
    </ion-row>
    <ion-list>
        <ion-item *ngFor='let unProfesional of listadoTemporal;let i = index'>
            <ion-badge slot="start" color="primary">{{i+1}}</ion-badge>
            <ion-label color="medium">
                <h3>{{unProfesional.nombreCompleto}}</h3>
            </ion-label>
            <div slot="end">
                <ion-badge>{{unProfesional.profesion}}</ion-badge>
            </div>
        </ion-item>
    </ion-list>
</div>
