<!-- <ion-header background="dark">
    <page-navbar [menu]="false">
        <div buttons>
        </div>
        <span nav-title> Mis datos </span>
    </page-navbar>
</ion-header> -->

<ion-content profile-paciente>
    <div class="no-item" *ngIf="inProgress">
        <ads-icon icon="ball-triangle"></ads-icon>
    </div>


    <div class="andes-detalle" *ngIf="paciente">
        <div class="no-item" *ngIf="inProgress">
            <ads-icon icon="ball-triangle"></ads-icon>
        </div>
        <div class="andes-detalle-contenedor" *ngIf="!inProgress">

            <div class="titulo-prefix">Nombre Completo</div>
            <div class="titulo-principal md">
                {{paciente.nombre.toLowerCase()}}
                <br>
                <span>{{paciente.apellido.toLowerCase()}}</span>
            </div>

            <div class="titulo-subfix">
                {{paciente.sexo}}
            </div>

            <div class="info-detalle">
            </div>
        </div>
        <ul class="andes-list">
            <li>
                <div class="andes-container">
                    <ion-icon class="icon-action left xl" name="card"></ion-icon>
                    <div class="andes-wraper">
                        <div class="andes-list-prefix">Documento</div>
                        <h2 class="andes-list-title">
                            {{paciente.documento}}
                        </h2>
                    </div>
                </div>
            </li>

            <li>
                <div class="andes-container">
                    <ion-icon class="icon-action left xl" name="md-calendar"></ion-icon>
                    <div class="andes-wraper">
                        <div class="andes-list-prefix">Fecha de nacimiento</div>
                        <h2 class="andes-list-title">
                            {{paciente.fechaNacimiento | date: "dd/MM/yyyy"}}
                        </h2>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- <button class="md rounded block success" (click)="abrirDondeVivo()">
        ¿Donde vivo?
    </button> -->


    <!--

    agregar estos plugin antes
    <plugin name="cordova-plugin-crop" spec="^0.4.0" />
    <plugin name="info.protonet.imageresizer" spec="^0.1.1" />
    <plugin name="com-badrit-base64" spec="^0.2.0" />

  -->


    <!-- <div padding-vertical text-center *ngIf="paciente">
    <img [src]="photo" width="200" height="200" class="profile-photo" text-center (click)="openPhoto()" />
    <br />
    <button ion-button round icon-left text-center (click)="takePhoto()">
          <ion-icon name="camera"></ion-icon>
          Cambiar mi foto
      </button>
  </div> -->

    <!-- <ion-list *ngIf="paciente">

        <ion-item class="personal-data item_header" [ngClass]="{ opened: showPersonal  }" (click)="togglePersonales()">
            <h2>Datos básicos</h2>
            <h3 *ngIf="!showPersonal">Nombre, Apellido, Documento, F. de Nacimiento</h3>
            <ion-icon item-end name="md-arrow-dropdown" *ngIf="!showPersonal"></ion-icon>
            <ion-icon item-end name="md-arrow-dropup" *ngIf="showPersonal"></ion-icon>
        </ion-item>

        <ion-item class="item_detail" *ngIf="showPersonal" [ngClass]="{ opened: showPersonal  }">
            <div class="profile-item">
                <h3>Apellido</h3>
                <p>{{paciente.apellido}}</p>
            </div>
            <div class="profile-item">
                <h3>Nombres</h3>
                <p>{{paciente.nombre}}</p>
            </div>

            <div class="profile-item">
                <h3>Documento de Identidad</h3>
                <p>{{paciente.documento}}</p>
            </div>

            <div class="profile-item">
                <h3>Sexo</h3>
                <p>{{paciente.sexo}}</p>
            </div>

            <div class="profile-item">
                <h3>Fecha de Nacimiento</h3>
                <p>{{fechaNacimiento()}}</p>
            </div>

            <div class="profile_report_error">

                <div class="error-container">
                    <h3>¿Considera que esta información no es correcta?</h3>
                    <p>Si consideras que los datos que se muestran arriba, fueron cargados de manera errónea o están adulterados,
                        oprimí el siguiente botón.</p>

                </div>
                <ion-icon name="ios-alert-outline"></ion-icon>

                <button ion-button color="danger" type="button" (click)="onEdit()"> Solicitar modificación </button>
            </div>
        </ion-item>



        <ion-item class="profile_contacto item_header" [ngClass]="{ opened: showContactos  }" (click)="toggleContactos()">
            <h2>Datos de contacto</h2>
            <h3 *ngIf="!showContactos">Domicilio, Número de teléfono, Correo electrónico...</h3>
            <ion-icon item-end name="md-arrow-dropdown" *ngIf="!showContactos"></ion-icon>
            <ion-icon item-end name="md-arrow-dropup" *ngIf="showContactos"></ion-icon>
        </ion-item>
        <ion-item class="item_detail" *ngIf="showContactos" [ngClass]="{ opened: showContactos  }">
            <div class="contact-item">
                <h3>Teléfonos de contacto</h3>
                <div *ngFor="let contacto of telefonos">

                    <ion-row>
                        <ion-col col-8>
                            <ion-item>
                                <ion-input [(ngModel)]="contacto.valor" (keyup)="onInputChange(telefonos, 'celular')" placeholder="Número"> </ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col col-4>
                            <ion-item>
                                <ion-select [(ngModel)]="contacto.tipo" multiple="false" interface="popover">
                                    <ion-option *ngFor="let type of contactType" [value]="type">{{type}}</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </div>
            </div>

            <div class="contact-item">
                <h3>Correos eletrónicos</h3>
                <div *ngFor="let contacto of emails">

                    <ion-row>
                        <ion-col col-12>
                            <ion-item>
                                <ion-input [(ngModel)]="contacto.valor" type="email" (keyup)="onInputChange(emails, 'email')" placeholder="Correo electrónico">
                                </ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </div>
            </div>

            <button ion-button color="secondary" type="button" class="btn-save" (click)="onSave()"> Guardar datos contacto </button>
        </ion-item>

        <ion-item class=" item_header" [ngClass]="{ opened: showDondeVivo  }" (click)="abrirDondeVivo()">
            <h2>¿Dónde vivo?</h2>
            <h3 *ngIf="!showDondeVivo">Provincia, Localidad, Domicilio ...</h3>
            <ion-icon item-end name="md-arrow-dropdown" *ngIf="!showDondeVivo"></ion-icon>
            <ion-icon item-end name="md-arrow-dropup" *ngIf="showDondeVivo"></ion-icon>
        </ion-item>

    </ion-list> -->

</ion-content>

<!-- abrirDondeTrabajo -->
<!-- <ion-item class=" item_header" [ngClass]="{ opened: showDondeVivo  }" (click)="abrirDondeTrabajo()">
<h2>¿Dónde trabajo?</h2>
<h3 *ngIf="!showDondeVivo">Provincia, Localidad, Domicilio ...</h3>
<ion-icon item-end name="md-arrow-dropdown" *ngIf="!showDondeVivo"></ion-icon>
<ion-icon item-end name="md-arrow-dropup" *ngIf="showDondeVivo"></ion-icon>
</ion-item>
-->
