<ion-header class="dark" translucent="true">
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="/login" text=" "></ion-back-button>
        <ion-title><small>Registrarse como paciente</small></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="dark">
    <div *ngIf="loading" class="no-item">
        <ads-icon icon="ball-triangle"></ads-icon>
    </div>
    <ng-container *ngIf="!loading">

        <ng-container *ngIf="!showAccountInfo">
            <section class="cabecera login ion-flex ion-justify-content-between ion-align-items-center">
                <div class="title-container">
                    <h2 class="welcome-title">Registro</h2>
                    <h4 class="welcome-subtitle"></h4>
                </div>
            </section>

            <div class="subtitulo">
                Para registrarte en Andes, ingresá tu documento, número de trámite de documento, sexo y un
                correo
                electrónico.<br>
                Si preferís, podés registrarte
                <ion-text (click)="scanner()" color="primary"><b><u>escaneando tu DNI</u></b></ion-text> con la cámara
                de tu
                celular.
            </div>
            <form (ngSubmit)="registrarUsuario()" [formGroup]="formRegistro">
                <div>
                    <input class="md rounded block outline" placeholder="Número de documento"
                        formControlName="documento" type="number" id="documento" />
                    <ion-text color="light" class="ion-margin-start"
                        *ngIf="formRegistro.get('documento').getError('required') && (formRegistro.get('documento').dirty || formRegistro.get('documento').touched)">
                        <small><b>Debe ingresar su número de documento, sin espacios ni puntos.</b></small>
                        <hr>
                    </ion-text>
                    <ion-text color="light" class="ion-margin-start"
                        *ngIf="formRegistro.get('documento').getError('pattern') && (formRegistro.get('documento').dirty || formRegistro.get('documento').touched)">
                        <small><b>Formato incorrecto. Debe ingresar su número de documento completo, sin espacios ni
                                puntos.</b></small>
                        <hr>
                    </ion-text>
                </div>

                <ion-select placeholder="Seleccione Sexo" name="sexo" id="sexo" formControlName="sexo"
                    class="md rounded block outline" okText="Aceptar" cancelText="Cancelar">
                    <ion-select-option value="femenino">Femenino</ion-select-option>
                    <ion-select-option value="masculino">Masculino</ion-select-option>
                </ion-select>
                <ion-text color="light" class="ion-margin-start"
                    *ngIf="formRegistro.get('sexo').getError('required') && (formRegistro.get('sexo').dirty || formRegistro.get('sexo').touched)">
                    <small><b>Debe elegir su sexo.</b></small>
                    <hr>
                </ion-text>

                <div>
                    <input class="md rounded block outline" placeholder="Número de trámite del documento"
                        formControlName="tramite" type="number" id="tramite">
                    <ion-text color="light" class="ion-margin-start"
                        *ngIf="formRegistro.get('tramite').getError('required') && (formRegistro.get('tramite').dirty || formRegistro.get('tramite').touched)">
                        <small><b>Debe ingresar los 11 dígitos de su número de trámite de documento.</b></small>
                        <hr>
                    </ion-text>
                    <ion-text color="light" class="nro-tramite ion-margin-start" (click)="infoNT()">
                        <ion-icon *ngIf="!infoNrotramite" name="chevron-forward-outline" type="info"></ion-icon>
                        <ion-icon *ngIf="infoNrotramite" name="chevron-down-outline" type="info"></ion-icon>
                        <b>Cómo encontrar el número de trámite</b>
                    </ion-text>
                    <div class="ion-justify-content-center" *ngIf="infoNrotramite">
                        <br>
                        <img src="assets/img/andes-dni-frente.jpg">
                        <img src="assets/img/andes-dni-dorso.jpg">
                    </div>
                </div>
                <div>
                    <input class="md rounded block outline" placeholder="Número de celular" formControlName="celular"
                        type="number" id="celular">
                    <ion-text color="light" class="ion-margin-start"
                        *ngIf="celular.getError('required') && (celular.dirty || celular.touched)">
                        <small><b>Debe ingresar su número de celular, sin 0 y sin 15.</b></small>
                    </ion-text>
                    <ion-text color="light" class="ion-margin-start"
                        *ngIf="celular.getError('pattern') && (celular.dirty || celular.touched)">
                        <small><b>Formato incorrecto. Debe ingresar su número sin prefijo 0 y sin 15.</b></small>
                        <hr>
                    </ion-text>
                </div>
                <div>
                    <input class="md rounded block outline" placeholder="Email" formControlName="email" type="text"
                        id="email" (keyup)="trimEmail($event.target.value)">
                    <ion-text color="light" class="ion-margin-start"
                        *ngIf="formRegistro.get('email').getError('required') && (formRegistro.get('email').dirty || formRegistro.get('email').touched)">
                        <small><b>Debe ingresar un e-mail válido.</b></small>
                        <hr>
                    </ion-text>
                    <ion-text color="light" class="ion-margin-start"
                        *ngIf="formRegistro.get('email').getError('pattern') && (formRegistro.get('email').dirty || formRegistro.get('email').touched)">
                        <small><b>Formato incorrecto. Debe ingresar un e-mail válido.</b></small>
                        <hr>
                    </ion-text>
                </div>
                <div class="ion-justify-content-center" *ngIf="!scanValido">
                    <re-captcha formControlName="recaptcha" siteKey="6Lc5nUsaAAAAALJ15OtJMKpdW9XSEOl13A_3Hx6i">
                    </re-captcha>
                </div>
                <button class="md rounded block" [class.success]="formRegistro.valid && !loading" type="submit"
                    [class.disabled]="formRegistro.invalid || loading" [disabled]="formRegistro.invalid || loading">
                    Registrarme
                </button>
                <ion-item lines="none">
                    <ion-icon name="help-circle-outline" color="light" size="large" slot="start"></ion-icon>
                    <ion-text color="light">
                        ¿Tenés problemas para registrarte o ingresar? Comunicate con nosotros a <a
                            href="mailto:{{email}}">{{email}}</a>
                    </ion-text>
                </ion-item>
                <button class="md rounded block info" type="button" (click)="cleanScan()" [disabled]="loading"
                    *ngIf="scanValido">
                    Limpiar formulario
                </button>
                <button class="md rounded block danger" type="button" (click)="cancel()" [disabled]="loading">
                    Volver
                </button>
            </form>
        </ng-container>
        <div *ngIf="showAccountInfo" class="icono-text-container no-item">
            <ion-icon class="icono-text lg" name="mail-unread-outline"></ion-icon>
            <h3>Activación de cuenta de {{ accountNombre }}</h3>
            <ion-list>
                <ion-item>
                    <ion-icon slot="start" color="light" name="mail-open-outline"></ion-icon>
                    <ion-label><b>El código se envió</b> a tu casilla de correo: <em>{{ paciente.email }}</em>.
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-icon slot="start" color="light" name="time-outline"></ion-icon>
                    <ion-label>Si aun no te llega, <b>esperá unos minutos</b> y revisá nuevamente.</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon slot="start" color="light" name="alert-circle-outline"></ion-icon>
                    <ion-label>También podés verificar si no te llegó como <b>SPAM</b>.</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon slot="start" color="light" name="key-outline"></ion-icon>
                    <ion-label><b>Si ya tenés tu código</b>, tocá el botón a continuación:</ion-label>
                </ion-item>
                <ion-button expand="block" color="success" routerLink="/login">Ingresar a
                    Andes</ion-button>
            </ion-list>
        </div>
    </ng-container>

</ion-content>
