<ion-header class="dark" translucent="true">
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="/login" text=" "></ion-back-button>
        <ion-title><small>Registrarse como paciente</small></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="dark">
    <div *ngIf="loading" class="no-item">
        <ads-icon icon="ball-triangle"></ads-icon>
    </div>
    <ng-container *ngIf="!loading">

        <ng-container *ngIf="!showAccountInfo">
            <section class="cabecera login ion-flex ion-justify-content-between ion-align-items-center">
                <div class="title-container">
                    <h2 class="welcome-title">Registro de Paciente</h2>
                    <h4 class="welcome-subtitle"></h4>
                </div>
            </section>

            <div class="subtitulo">
                <ol>
                    <li>Escaneá el código en el frente de tu documento con la cámara de tu celular.</li>
                    <li>Luego ingresá un teléfono y un e-mail.</li>
                </ol>
                <br>
            </div>
            <ion-item>
                <button class="md rounded block primary" (click)="scanner()">{{ buttonLabel }}</button>
            </ion-item>
            <form (ngSubmit)="registrarUsuario()" [formGroup]="formRegistro">
                <input formControlName="scanText" type="hidden" id="scanText">
                <input formControlName="apellido" type="hidden" id="apellido" />
                <input formControlName="nombre" type="hidden" id="nombre" />
                <input formControlName="documento" type="hidden" id="documento" />
                <input formControlName="sexo" type="hidden" id="sexo" />

                <ng-container *ngIf="scanValido">
                    <ion-item>
                        <ion-label color="light">
                            <h5>Apellido y Nombre</h5>
                            <h2>{{ nombreApellido }}</h2>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label color="light">
                            <h5>Documento</h5>
                            <h2>{{ documento }}</h2>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label color="light">
                            <h5>Sexo</h5>
                            <h2>{{ sexo }}</h2>
                        </ion-label>
                    </ion-item>
                    <div>
                        <input class="md rounded block outline" placeholder="Número de celular"
                            formControlName="celular" type="number" id="celular">
                        <ion-text color="light" class="ion-margin-start"
                            *ngIf="celular.getError('required') && (celular.dirty || celular.touched)">
                            <small><b>Debe ingresar su número de celular, sin 0 y sin 15.</b></small>
                        </ion-text>
                        <ion-text color="light" class="ion-margin-start"
                            *ngIf="celular.getError('pattern') && (celular.dirty || celular.touched)">
                            <small><b>Formato incorrecto. Debe ingresar su número sin prefijo 0 y sin 15.</b></small>
                            <hr>
                        </ion-text>
                    </div>
                    <div>
                        <input class="md rounded block outline" placeholder="Email" formControlName="email" type="text"
                            id="email" (keyup)="trimEmail($event.target.value)">
                        <ion-text color="light" class="ion-margin-start"
                            *ngIf="formRegistro.get('email').getError('required') && (formRegistro.get('email').dirty || formRegistro.get('email').touched)">
                            <small><b>Debe ingresar un e-mail válido.</b></small>
                            <hr>
                        </ion-text>
                        <ion-text color="light" class="ion-margin-start"
                            *ngIf="formRegistro.get('email').getError('pattern') && (formRegistro.get('email').dirty || formRegistro.get('email').touched)">
                            <small><b>Formato incorrecto. Debe ingresar un e-mail válido.</b></small>
                            <hr>
                        </ion-text>
                    </div>
                    <div class="ion-justify-content-center" *ngIf="!scanValido">
                        <re-captcha formControlName="recaptcha" siteKey="6Lc5nUsaAAAAALJ15OtJMKpdW9XSEOl13A_3Hx6i">
                        </re-captcha>
                    </div>
                    <button class="md rounded block" [class.success]="formRegistro.valid && !loading" type="submit"
                        [class.disabled]="formRegistro.invalid || loading" [disabled]="formRegistro.invalid || loading">
                        Registrarme
                    </button>
                </ng-container>
                <ion-item lines="none">
                    <ion-icon name="help-circle-outline" color="light" size="large" slot="start"></ion-icon>
                    <ion-text color="light">
                        ¿Tenés problemas para registrarte o ingresar? Comunicate con nosotros a <a
                            href="mailto:{{email}}">{{email}}</a>
                    </ion-text>
                </ion-item>
                <button class="md rounded block danger" type="button" (click)="cancel()" [disabled]="loading">
                    Volver
                </button>
            </form>
        </ng-container>
        <div *ngIf="showAccountInfo" class="icono-text-container no-item">
            <ion-icon class="icono-text lg" name="mail-unread-outline"></ion-icon>
            <h3>Activación de cuenta de {{ accountNombre }}</h3>
            <ion-list>
                <ion-item>
                    <ion-icon slot="start" color="light" name="mail-open-outline"></ion-icon>
                    <ion-label><b>El código se envió</b> a tu casilla de correo: <em>{{ paciente.email }}</em>.
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-icon slot="start" color="light" name="time-outline"></ion-icon>
                    <ion-label>Si aun no te llega, <b>esperá unos minutos</b> y revisá nuevamente.</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon slot="start" color="light" name="alert-circle-outline"></ion-icon>
                    <ion-label>También podés verificar si no te llegó como <b>SPAM</b>.</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon slot="start" color="light" name="key-outline"></ion-icon>
                    <ion-label><b>Si ya tenés tu código</b>, tocá el botón a continuación:</ion-label>
                </ion-item>
                <ion-button expand="block" color="success" routerLink="/login">Ingresar a
                    Andes</ion-button>
            </ion-list>
        </div>
    </ng-container>

</ion-content>