<ion-header class="dark" translucent="true">
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="home" text=""></ion-back-button>
        <ion-title><small>Mis Turnos: Historial</small></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="dark" [class.familiar]="familiar">
    <ion-list *ngIf="ultimosTurnos?.length">
        <ng-container *ngFor='let turno of ultimosTurnos; let i=index'>
            <ion-item>
                <ion-label class="andes-wrapper">
                    <div class="columna">
                        <span class="badge fechaHoraTurnos">{{turno.horaInicio | date:'dd/MM/yyyy'}} a las
                            {{turno.horaInicio | date:'HH:mm'}} hs.</span>
                        <span class="badge danger" *ngIf="turno.asistencia==='noAsistio'">no asistió al turno</span>
                        <span class="badge success" *ngIf="turno.asistencia==='asistio'">asistencia a las
                            {{turno.horaAsistencia | date:'HH:mm'}} hs.</span>
                        <span class="badge warning" *ngIf="turno.asistencia==='suspendido'">turno suspendido</span>
                        <span class="badge light-gris" *ngIf="turno.asistencia==='sin datos'">sin datos de
                            asistencia</span>

                        <div class="ion-margin-vertical ion-text-capitalize">
                            <strong> {{ i }} {{turno.tipoPrestacion.term}}</strong>
                        </div>
                    </div>
                    <div class="columna">
                        <span class="andes-list-content">
                            <ion-icon class="iconoProfesional sm" name="andes-hospital"></ion-icon>
                            <small>{{turno.organizacion.nombre}}</small>
                        </span>
                        <span class="andes-list-title">
                            <ion-icon name="andes-profesional" class="iconoProfesional sm"></ion-icon>
                            <span class="light-gris" *ngIf="turno.profesionales.length ">
                                <small>{{ turno.profesionales |
                                        enumerar:['apellido','nombre'] }} </small></span>
                            <span *ngIf="!turno.profesionales.length" class="light-gris"><small> Sin profesional
                                    asignado</small></span>
                        </span>
                    </div>
                </ion-label>
            </ion-item>
            <hr />
        </ng-container>

    </ion-list>
    <div *ngIf=" !ultimosTurnos?.length" class="icono-text-container no-item">
        <ion-icon class="icono-text lg outline" name="andes-turno"></ion-icon>
        <h3> No tienes turnos en tu historial </h3>
    </div>
</ion-content>