.fechaHoraTurnos {
    color: #06a6de;
}

.iconoProfesional {
    width:20px;
    height: 10px;
    color: #06a6de;
}

.light-gris {
    color: #707070;
}

.profesional {
    display: flex;
    align-items: center;
}

ion-header .bold-text {
    font-weight: bold;
    font-size: 0.875rem;
}

.reset-span {
    font-size: inherit;
    font-weight: normal;
}
