<ion-header>
  <page-navbar [mostrarMenu]="mostrarMenu">
    <span nav-title> Noticias </span>
  </page-navbar>
</ion-header>

<ion-content padding>
  <div class="spinner" *ngIf="loading">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>

  <ion-item-group class="numeros-list colored">
    <ion-item class="numeros-item" *ngFor="let noticia of noticias">
      <h2> <a href="{{noticia.link}}">  {{noticia.title}}</a> </h2>
      <h3 class="tag-right"> {{formatDate(noticia)}}</h3>

      <p>{{noticia.description}}</p>
    </ion-item>
  </ion-item-group>
</ion-content>
