<ion-header>
  <page-navbar [mostrarMenu]="mostrarMenu">
    <span nav-title> Adjuntar archivos </span>
  </page-navbar>
</ion-header>

<ion-content padding rup-adjuntar class="content-dark">
  <div *ngIf="adjunto" class="cuerpo">
    <div *ngIf="files.length === 0">
        <ion-icon class="content-icon" name="md-cloud-upload"></ion-icon>
        <div class="content-title">
        Adjuntar imágenes o documentos a la prestación.
        </div>
    </div>

    <div class="content-subtitle" padding>
      {{adjunto.paciente.apellido}} {{adjunto.paciente.nombre}} <br>
      <!-- {{adjunto.prestacion_nombre}} <br> -->
      {{adjunto.fecha.format('DD/MM/YYYY')}}
    </div>

    <div>
        <div *ngFor="let obj of files; let i = index" class="img-wrapper">
            <div *ngIf="obj.loading">
                <img src="assets/svg/ball-triangle.svg" alt="">
            </div>
            <div *ngIf="!obj.loading">
                <div class="close-icon" (click)="remove(i)">
                    <ion-icon ios="ios-close" md="md-close"></ion-icon>
                </div>
                <div *ngIf="obj.ext !== 'pdf'">
                    <img [src]="obj.file" alt="">
                </div>
                <div *ngIf="obj.ext === 'pdf'">
                    <img src="assets/img/pdf.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="acciones">
        <ion-row >
            <ion-col col-6>
                <button class="btn-acceso" (click)="takePhoto()" ion-button block>
                    Tomar foto
                </button>
            </ion-col>
            <ion-col col-6>
                <button class="btn-acceso" (click)="chooseFile()" ion-button block>
                    Examinar
                </button>
            </ion-col>
        </ion-row>
        <button class="btn-success" (click)="upload()" [disabled]="uploading" ion-button block> Enviar documentos </button>
    </div>
    <!-- <ion-fab bottom right>
        <button ion-fab (click)="upload()">
            <ion-icon ios="ios-cloud-upload" md="md-cloud-upload"></ion-icon>
        </button>
    </ion-fab> -->

  </div>
  <div class="spinner" *ngIf="inProgress">
    <!-- <ion-spinner name="dots"></ion-spinner> -->
    <img src="assets/svg/ball-triangle.svg" alt="">
  </div>
</ion-content>
