<ion-header background="dark">
    <page-navbar [menu]="false">
        <span nav-title> Mis Turnos | Prestaciones </span>
        <div buttons>
            <ion-icon name="bug" (click)="onBugReport()"></ion-icon>
        </div>
    </page-navbar>
</ion-header>
<ion-content>
    <ul *ngIf="!loader && prestacionesTurneables.length > 0" class="andes-list">
        <li *ngFor="let prestacion of prestacionesTurneables" (click)="buscarTurnoPrestacion(prestacion)">
            <div class="andes-container">
                <div class="andes-wraper">
                    <h2 class="andes-list-title">{{prestacion.term}}</h2>
                </div>
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </div>
        </li>
    </ul>
    <div *ngIf="loader" class="no-item">
        bolitas
        <ads-icon icon="ball-triangle"></ads-icon>
    </div>
    <div *ngIf="!loader && prestacionesTurneables.length === 0" class="icono-text-container no-item">
        <ion-icon class="icono-text lg outline" name="andes-turno"></ion-icon>
        <h3> No hay turnos disponibles para ninguna especialidad en este momento </h3>
    </div>
</ion-content>
