<ion-header class="dark" translucent="true">
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="home" text="" icon="chevron-back-outline"></ion-back-button>
        <ion-title><small>Mis Turnos | <span class="bold-text">Sacar turno</span></small></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [class.familiar]="familiar">

    <div *ngIf="loading" style="margin-top: 20px;">
        <ads-icon icon="ball-triangle"></ads-icon>
    </div>

    <div *ngIf="sinTurnos" class="icono-text-container no-item">
        <ion-icon class="icono-text lg outline" name="andes-turno"></ion-icon>
        <h5 class="spinner">En estos momentos no hay turnos disponibles en nuestra aplicación móvil. </h5>
        <h5 class="spinner"> Podés volver a intentar más tarde o concurrir al centro de salud u hospital más cercano
            para solicitar turnos de forma presencial. </h5>
    </div>

    <ul *ngIf="hayTurnosYGPS" class="andes-list">
        <li *ngFor="let prestacion of prestacionesTurneables" (click)="buscarTurnoPrestacion(prestacion)">
            <div class="andes-container">
                <div class="andes-wraper">
                    <h2 class="andes-list-title">{{ prestacion.term }}</h2>
                </div>
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </div>
        </li>
    </ul>

    <div *ngIf="!sinTurnos" class="andes-list" style="margin-top: 60px">
        <p class="spinner">
            Si no encontrás la oferta que necesitas, podés volver a intentar más tarde o concurrir al centro de salud u
            hospital más cercano.
        </p>
    </div>

</ion-content>