<ion-header class="dark" translucent="true">
    <ion-toolbar>
        <ion-back-button
            slot="start"
            defaultHref="login/profesional"
            text="Volver"
        ></ion-back-button>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding dark">
    <div *ngIf="loading" class="no-item">
        <ads-icon icon="ball-triangle"></ads-icon>
    </div>
    <ng-container *ngIf="!loading">
        <div class="cabecera">
            <div class="title-container">
                <h2 class="welcome-title">Reestablecer contraseña</h2>
                <h4 class="welcome-subtitle primary">
                    Por favor, ingresa tu usuario para recuperar tu contraseña.
                    Si existe una cuenta registrada, te enviaremos un código de
                    verificación a tu bandeja de entrada.
                </h4>
            </div>
        </div>
        <form
            novalidate
            (ngSubmit)="resetearPassword()"
            [formGroup]="formReestablecer"
        >
            <div>
                <input
                    class="md rounded block outline"
                    placeholder="Ingrese su usuario"
                    formControlName="username"
                    type="number"
                    (keypress)="onKeyPress($event, 'submit-1')"
                    (input)="clearRedirectOneLoginMessage()"
                />
            </div>
            <span
                *ngIf="redirectOneLogin"
                class="badge danger"
                style="
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: -webkit-fill-available;
                    text-align: center;
                    background: white;
                "
            >
                El usuario ingresado pertenece a OneLogin, por lo tanto el
                cambio de clave debe realizarse a través de esa plataforma.
            </span>
            <button
                class="md rounded block"
                type="submit"
                [ngClass]="{'success': formReestablecer.valid && !loading}"
                [class.disabled]="formReestablecer.invalid || loading"
                [disabled]="formReestablecer.invalid || loading"
            >
                Continuar
            </button>
            <button
                class="md rounded block info"
                type="button"
                (click)="validarCodigo()"
            >
                Ya tengo mi código
            </button>
            <button
                class="md rounded block danger"
                type="button"
                (click)="cancel()"
            >
                Cancelar
            </button>
        </form>
    </ng-container>
</ion-content>
