<ion-header class="dark" translucent="true">
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="login"></ion-back-button>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" class="dark">
    <div *ngIf="loading" class="no-item">
        <ads-icon icon="ball-triangle"></ads-icon>
    </div>
    <ng-container *ngIf="!loading">
        <div class="cabecera">
            <div class="title-container">
                <h2 class="welcome-title">Reestablecer contraseña</h2>
                <h4 class="welcome-subtitle primary">
                    Por favor, ingrese su usuario. Recibirá un correo
                    electrónico con instrucciones para restablecer su
                    contraseña. En caso que tenga usuario de onelogin se lo
                    redirigirá al sitio web correspondiente.
                </h4>
            </div>
        </div>
        <form
            novalidate
            (ngSubmit)="resetearPassword()"
            [formGroup]="formReestablecer"
        >
            <div>
                <input
                    class="md rounded block outline"
                    placeholder="Ingrese su usuario"
                    formControlName="username"
                    type="number"
                    (keypress)="onKeyPress($event, 'submit-1')"
                />
            </div>
            <button
                class="md rounded block"
                type="submit"
                [ngClass]="{'success': formReestablecer.valid && !loading}"
                [class.disabled]="formReestablecer.invalid || loading"
                [disabled]="formReestablecer.invalid || loading"
            >
                Recuperar contraseña
            </button>

            <button
                class="md rounded block danger"
                type="button"
                (click)="volver()"
            >
                Volver
            </button>
        </form>
    </ng-container>
</ion-content>
