<ion-header class="dark" translucent="true">
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="home" text=""></ion-back-button>
        <ion-title><small>Turnos Disponibles</small></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="dark" [class.familiar]="familiar">
    <div *ngIf="agendas?.length > 0 && !showConfirmationSplash">
        <ion-list *ngFor="let a of agendas">
            <div *ngIf="turnosDisponibles(a)">
                <ion-list-header>
                    <ion-label>
                        <h2 class="andes-list-title">{{efector.organizacion}}</h2>
                        <hr>
                        <h3><b>Prestación: </b>{{a.tipoPrestaciones[0].term }}</h3>
                        <h3><b>Profesional:</b>
                            {{mostrarProfesionales(a.profesionales)}}</h3>
                        <h3><b>Fecha:</b> {{a.horaInicio | date: "d 'de' MMMM yyyy"}}</h3>
                    </ion-label>
                    <hr>
                </ion-list-header>
                <ng-container *ngFor="let b of a.bloques">
                    <ng-container *ngIf="b.restantesProgramados > 0 && b.restantesMobile > 0 && incluyePrestacion(b)">
                        <ng-container *ngFor="let t of b.turnos">
                            <ion-item *ngIf="disponible(t)">
                                <ion-label class="andes-wraper">
                                    <div class="columna">
                                        <span class="andes-list-title">
                                            <ion-icon name="andes-horario"></ion-icon>
                                            Hora del turno: {{t.horaInicio | date: "HH:mm"}} hs.
                                        </span>
                                    </div>
                                    <div class="andes-list-content">
                                        <div class="columna">
                                            <ion-icon name="andes-profesional"></ion-icon>
                                            <small class="andes-list-subtitle">
                                                Prof: {{mostrarProfesionales(a.profesionales)}}
                                            </small>
                                        </div>
                                    </div>
                                </ion-label>
                                <ion-button slot="end" color="success" size="default"
                                            (click)="confirmationSplash(a, b, t)">
                                    <ion-icon name="checkmark"></ion-icon>
                                </ion-button>
                            </ion-item>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
            <div *ngIf="!turnosDisponibles(a)">
                <div>
                    <span class="andes-list-subfix uppercase bolder lg">{{a.horaInicio | date: "d 'de' MMMM
                        yyyy"}}</span>
                    <small class="andes-list-subtitle"><b>Profesional:</b>
                        {{mostrarProfesionales(a.profesionales)}}</small>
                </div>
                <hr>
                <ion-item>
                    <span class="badge danger"> No hay turnos</span>
                </ion-item>
            </div>
        </ion-list>

    </div>
    <div *ngIf="showConfirmationSplash">
        <div class="ion-margin-vertical"><b>Profesional: </b>{{turnoToShow.profesional}}</div>
        <div class="titulo-prefix ion-margin-vertical"><b>Lugar: </b>{{turnoToShow.efector}}</div>
        <div class="titulo-principal md ion-margin-vertical"><b>Fecha: </b>
            {{turnoToShow.fecha | date: "d 'de' MMMM yyyy" }} a las
            {{turnoToShow.fecha | date: "HH:mm"}}</div>
        <div class="titulo-secundario ion-margin-vertical ion-text-capitalize">
            <h4>
                Prestación: <b>{{turnoToShow.prestacion}}</b>
            </h4>
        </div>
        <div class="andes-list-subtitle ion-margin-vertical">IMPORTANTE: {{turnoToShow.nota}}</div>
        <!-- Botonera inferior -->
        <div>
            <button class="md rounded success block" [disabled]="confirmado"
                    (click)="confirmar(turnoToShow.a, turnoToShow.b, turnoToShow.t)">Confirmar</button>
            <button class="md rounded danger block" (click)="cancelar()">Cancelar</button>
        </div>
    </div>
</ion-content>