<ion-header class="dark" translucent="true">
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="home" text=""></ion-back-button>
        <ion-title><small>Turnos Disponibles</small></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="dark" [class.familiar]="familiar">
    <div *ngIf="agendas?.length > 0 && !showConfirmationSplash">
        <ion-list *ngFor="let a of agendas">
            <div *ngIf="turnosDisponibles(a)">

                <ion-card>
                    <ion-card-header>
                        <ion-avatar>
                            <ion-icon *ngIf="a?.link" name="desktop-outline" color="primary" class="icono-info">
                            </ion-icon>
                            <ion-icon *ngIf="!a?.link" name="andes-turno" color="primary" class="icono-info"></ion-icon>
                        </ion-avatar>
                        <ion-card-title class="ion-text-uppercase" color="dark">
                            Nuevo turno <b *ngIf="a?.link">por video llamada</b>
                        </ion-card-title>
                        <ion-card-subtitle class="ion-text-uppercase">
                            <ng-container *ngIf="a?.link">
                                <b>Atención:</b> Este turno es <ion-text color="danger">no presencial</ion-text><br>
                            </ng-container>
                            <ion-label *ngIf="!a?.link">Seleccioná el horario</ion-label>
                        </ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-list>
                            <ion-item>
                                <ion-label color="dark">
                                    <b class="ion-text-capitalize">{{ a.tipoPrestaciones[0].term }}</b>
                                    <p>{{ efector.organizacion }}</p>
                                </ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-label color="dark">
                                    <b>Profesional</b>
                                    <p>{{ mostrarProfesionales(a.profesionales) }}</p>
                                </ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-label color="dark">
                                    <b>Fecha</b>
                                    <p>{{ a.horaInicio | date: "d 'de' MMMM yyyy" }}</p>
                                </ion-label>
                            </ion-item>
                        </ion-list>
                    </ion-card-content>
                </ion-card>
                <ng-container *ngFor="let b of a.bloques">
                    <ng-container
                                  *ngIf="b.restantesProgramados > 0 && (b.restantesMobile > 0 || a.cumpleRegla) && incluyePrestacion(b)">
                        <ng-container *ngFor="let t of b.turnos">
                            <ion-item *ngIf="disponible(t)">
                                <ion-icon color="light" slot="start" name="andes-horario"></ion-icon>
                                <ion-label>
                                    <h3>
                                        Horario disponible: {{t.horaInicio | date: "HH:mm"}} hs
                                    </h3>
                                </ion-label>
                                <ion-button slot="end" color="success" size="default"
                                            (click)="confirmationSplash(a, b, t)">
                                    <ion-icon name="checkmark"></ion-icon>
                                </ion-button>
                            </ion-item>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
            <div *ngIf="!turnosDisponibles(a)">
                <div>
                    <span class="andes-list-subfix uppercase bolder lg">{{a.horaInicio | date: "d 'de' MMMM
                        yyyy"}}</span>
                    <small class="andes-list-subtitle"><b>Profesional:</b>
                        {{mostrarProfesionales(a.profesionales)}}</small>
                </div>
                <hr>
                <ion-item>
                    <span class="badge danger"> No hay turnos</span>
                </ion-item>
            </div>
        </ion-list>

    </div>
    <div *ngIf="showConfirmationSplash">
        <div class="icono-text-container no-item ion-margin-top">
            <ion-icon color="secondary" name="alert-circle"></ion-icon>
            <h3>Nuevo Turno <b *ngIf="turnoToShow.a?.link">por video llamada</b></h3>
        </div>

        <div class="titulo-secundario ion-margin-vertical ion-text-capitalize">
            <b>{{turnoToShow.prestacion}}</b>
            <div class="titulo-prefix ion-margin-vertical">{{turnoToShow.efector}}</div>
        </div>
        <div class="ion-margin-vertical"><b>Profesional: </b>{{turnoToShow.profesional}}</div>
        <div class="titulo-principal md ion-margin-vertical"><b>Fecha: </b>
            {{turnoToShow.fecha | date: "d 'de' MMMM yyyy" }} a las
            {{turnoToShow.fecha | date: "HH:mm"}} hs.
        </div>
        <ion-label color="secondary" position="stacked">Móvil</ion-label>
        <ion-row *ngIf="!editarPhone" class="ion-align-items-center">
            <ion-item>
                {{telefono ? telefono:'Sin número'}}
            </ion-item>
            <ion-button color="warning" (click)="editarTelefono()" size="md">
                <ion-icon name="pencil-outline"></ion-icon>
            </ion-button>
        </ion-row>

        <div *ngIf="editarPhone" class="ion-align-items-center">
            <ion-row>
                <ion-item>
                    <ion-input inputmode="text" [(ngModel)]="telefono" name="telefono" type="number"
                               placeholder="Número de teléfono móvil" (ionInput)="verificarTelefono()">
                    </ion-input>
                </ion-item>
                <ion-button *ngIf="verificarTelefono()" color="success" (click)="editarTelefono()" size="md">
                    <ion-icon name="checkmark"></ion-icon>
                </ion-button>
            </ion-row>
            <ion-text color="light" class="ion-margin-start" *ngIf="!telefono">
                <small><b>Debe ingresar su número de celular, sin 0 y sin 15.</b></small>
            </ion-text>
            <ion-text color="light" class="ion-margin-start" *ngIf="telefono && !verificarTelefono()">
                <small><b>Formato incorrecto. Debe ingresar su número sin prefijo 0 y sin 15.</b></small>
                <hr>
            </ion-text>
        </div>


        <div class="andes-list-subtitle ion-margin-vertical">
            <p *ngIf="turnoToShow.a?.link"><b>Atención:</b> Este turno es <b>no presencial</b>
            </p>
            {{ turnoToShow.nota }}
        </div>
        <div>
            <button class="md rounded success block" expand="block" [disabled]="confirmado"
                    [class.disabled]="confirmado"
                    (click)="confirmar(turnoToShow.a, turnoToShow.b, turnoToShow.t)">Confirmar</button>
            <button class="md rounded danger block" (click)="cancelar()">Cancelar</button>
        </div>
    </div>
</ion-content>