.title {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 8px;
}
.subtitle {
    font-weight: 400;
    font-size: 1.6rem;
    margin: 0;
}
.subtitle h5 {
    margin: 30px 0 0 0;
}
li .andes-container .andes-wraper span {
    margin-left: 1rem;
}