.andes-wraper {
    color: #64C6E8;
}

.texto-gigante {
    font-size: 5rem;
    color: #64C6E8;
}

.texto-mediano {
    font-size: 2.5rem;
}

.black {
    color: #000;
}

.grey {
    color: #DCDCDC;
}
