<div class="andes-container">
    <div class="andes-wraper">
        <h2 class="andes-list-title">
            <ng-container *ngFor="let prestacion of agenda.tipoPrestaciones">
                {{ prestacion.term }}
            </ng-container>
        </h2>
        <div class="andes-list-content">
            <div class="columna">
                <ion-icon name="andes-agendas"></ion-icon>
                <span class="andes-list-subtitle">{{ fecha() }} </span>
            </div>
            <div class="columna">
                <ion-icon name="andes-horario"></ion-icon>
                <span class="andes-list-subtitle">{{ hora() }} hs.</span>
            </div>
            <span class="badge success" *ngIf="avisoEstado() == 'confirma'">Confirmada</span>
            <span class="badge danger" *ngIf="avisoEstado() == 'suspende'">Suspendida</span>
        </div>
        <div class="andes-list-content">
            <div class="columna">
                <ion-icon name="andes-hospital"></ion-icon>
                <small>{{ agenda.organizacion.nombre }}</small>
            </div>
        </div>
        <div class="andes-list-content">
            <small *ngIf="agenda.espacioFisico" class="columna">
                {{ agenda.espacioFisico.nombre }}
            </small>
            <small *ngIf="!agenda.espacioFisico" class="columna">
                Espacio físico no asignado
            </small>
        </div>
    </div>
    <ion-icon class="icon-action right xl" name="chevron-forward-outline"></ion-icon>
</div>