<div *ngIf="activePage && activePage.tipo == 'listado'">

    <ion-list *ngIf="listaItems && listaItems.length">
        <ion-item *ngFor="let item of listaItems" (click)="cambiarPagina(activePage.goto,item)">
            <ion-label>{{item.Area}}<ion-icon class="icon-action arrowLista" name="chevron-forward-outline">
                </ion-icon>
            </ion-label>

        </ion-item>
    </ion-list>
    <!-- <ion-list>
                    <ion-item (click)="cambiarPagina(activePage.goto,item)">
                        <ion-label>Pokémon Yellow <ion-icon class="icon-action arrowLista" name="ios-arrow-forward-outline"></ion-icon>
                        </ion-label>

                    </ion-item>
                    <ion-item>
                        <ion-label>Pokémon Yellow <ion-icon class="icon-action arrowLista" name="ios-arrow-forward-outline"></ion-icon>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Pokémon Yellow <ion-icon class="icon-action arrowLista" name="ios-arrow-forward-outline"></ion-icon>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Pokémon Yellow <ion-icon class="icon-action arrowLista" name="ios-arrow-forward-outline"></ion-icon>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Pokémon Yellow <ion-icon class="icon-action arrowLista" name="ios-arrow-forward-outline"></ion-icon>
                        </ion-label>
                    </ion-item>
                </ion-list> -->

</div>
