<ion-header class="dark" translucent="true">
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="home" text=""></ion-back-button>
        <ion-title><small>Campañas de Salud vigentes</small></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="dark" [class.familiar]="familiar">
    <div class="no-item" *ngIf="loading">
        <ads-icon icon="ball-triangle"></ads-icon>
    </div>

    <ion-list *ngIf="!loading && campanias?.length > 0">
        <ion-item *ngFor="let campania of campanias" (click)="verCampania(campania)">
            <ion-icon slot="start" name="calendar" size="large" color="primary"></ion-icon>
            <ion-label color="light">
                {{campania.asunto}}
                <h3>{{periodo(campania)}}</h3>
            </ion-label>
            <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
        </ion-item>
    </ion-list>

    <div *ngIf="!loading && campanias?.length === 0" class="icono-text-container no-item">
        <ion-icon class="icono-text lg outline"></ion-icon>
        <h3> No hay campañas vigentes </h3>
    </div>

</ion-content>