<!--
  Generated template for the RegistroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <page-navbar [mostrarMenu]="mostrarMenu" [esconderLogoutBtn]="esconderLogoutBtn"></page-navbar>
</ion-header>

<ion-content user-data>

  <form novalidate (ngSubmit)="onSubmit(formRegistro)" [formGroup]="formRegistro">
    <div class="user-data-content">
      <h1>Por favor</h1>
      <h3>crea un usuario</h3>

      <ion-item *ngIf="!usuario.telefono">
        <ion-label floating>Teléfono</ion-label>
        <ion-input [(ngModel)]="telefono" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Correo Electrónico</ion-label>
        <ion-input formControlName="email" type="text"></ion-input>
      </ion-item>

      <!--
      <div style="color: #ea6153;" *ngIf="errors.email">
        El e-mail ya se encuentra registrado.
      </div>
      -->

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input formControlName="password" type="password" [formGroup]="formRegistro"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Confirmar Password</ion-label>
        <ion-input formControlName="confirmarPassword" type="password" [formGroup]="formRegistro"></ion-input>
      </ion-item>
      <div style="color: #ea6153;" *ngIf="formRegistro.controls.confirmarPassword.errors?.MatchPassword">Las contraseñas no coinciden</div>
    </div>

    <div class="aviso-legal-content">
      <h5 for="">Aviso Legal</h5>
      <div>
        <div class="legal-text">Al marcar esta casilla, indicas que has leído y aceptado el Aviso Legal y la Política de Privacidad de ANDES</div>
        <ion-checkbox formControlName="terminos"></ion-checkbox>
      </div>
      <button ion-button full color="primary" (click)="showConditions">Ver condiciones de uso</button>
    </div>

    <div class="register-content">
      <button ion-button full color="secondary" type="submit" [disabled]="formRegistro.invalid">Crear Cuenta</button>
    </div>

  </form>


</ion-content>
