<ion-header background="dark">
    <page-navbar [menu]="false">
        <span nav-title> Mis Turnos | Listado </span>
    </page-navbar>
</ion-header>
<ion-content>
    <div *ngIf="!turnos" class="no-item">
        <ads-icon icon="ball-triangle"></ads-icon>
    </div>

    <ul class="andes-list" *ngIf="turnos?.length > 0">
        <li *ngFor="let turno of turnos">
            <turno-item [turno]="turno" (onCancelEvent)="onCancelTurno($event)" (onClickEvent)="onClickEvent($event)"></turno-item>
        </li>
    </ul>


    <div *ngIf="turnos?.length === 0">
        <h3 class="no-item"> No tienes ningún turno programado </h3>
    </div>

    <div *ngIf="noTieneTurnoOdonto">
        <button ion-button block color="secondary" full (click)="solicitarTurno()">
            Solicitar Turno
        </button>
    </div>

</ion-content>
