<ion-header>
  <page-navbar [mostrarMenu]="mostrarMenu" [esconderLogoutBtn]="esconderLogoutBtn"></page-navbar>
</ion-header>

<ion-content padding>
  <!--
  <ion-card>
    <ion-card-header>
      Solicitar Turno
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Especialidad</ion-label>
          <ion-select [selectOptions]="selectOptions" [(ngModel)]="especialidad" okText="Aceptar" cancelText="Cancelar">
            <ion-option *ngFor="let prestacion of tipoPrestacion">{{prestacion.nombre}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Profesional</ion-label>
          <ion-select okText="Aceptar" cancelText="Cancelar">
            <ion-option *ngFor="let prestacion of tipoPrestacion">{{prestacion.nombre}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  -->


  <div *ngIf="!turnos">

    <h3> Buscando Turnos... </h3>

  </div>

  <ion-item-group *ngIf="turnos?.length > 0">
    <ion-title>Turnos</ion-title>
    <ion-item *ngFor="let turno of turnos" (click)="onCancel(turno)">
      <h2>{{turno.tipoPrestacion.nombre}}</h2>
      <p>{{turno.profesionales[0].apellido}} {{turno.profesionales[0].nombre}}</p>
      <p>{{turno.horaInicio}}</p>
      <p>{{turno.organizacion.nombre}}</p>
    </ion-item>
  </ion-item-group>

  <div *ngIf="turnos?.length == 0">
    <h3> No tienes ningún turno programado </h3>
  </div>
</ion-content>
