<!--
  Generated template for the MapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
    <agm-map [latitude]="center.latitude" [longitude]="center.longitude" [zoom]="zoom">
        <agm-marker *ngIf="myPosition" [iconUrl]="'assets/icon/estoy_aca.png'" [latitude]="myPosition.latitude" [longitude]="myPosition.longitude"></agm-marker>

        <agm-marker  *ngFor="let centro of centros" (markerClick)="onClickCentro(centro)"  [iconUrl]="'assets/icon/hospitallocation.png'" [latitude]="centro.coordenadasDeMapa.latitud" [longitude]="centro.coordenadasDeMapa.longitud">
            <agm-info-window [disableAutoPan]="true">
                <div class="infowindow">
                <div class="title">
                    {{centro.nombre}}
                </div>
                <div class="direccion">
                    <strong> Dirección: </strong> {{centro.domicilio.direccion}}
                    <button class="outline circular success action-navigate" (click)="navigateTo(centro.coordenadasDeMapa)">
                        <ion-icon name="navigate"></ion-icon>
                    </button>
                </div>
            </div>
            </agm-info-window>
        </agm-marker>
    </agm-map>
</ion-content>
