<ion-header class="dark" translucent="true">
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="historia-salud" text=""></ion-back-button>
        <ion-title><small>{{categoria.titulo}}</small></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="dark" [class.familiar]="familiar">
    <ul class="andes-list">
        <li *ngFor="let registro of registros">
            <div class="andes-container">
                <ng-container *ngIf="categoria.busquedaPor === 'registros'">
                    <div>
                        <div class="columna">
                            <span class="andes-list-title andes-capitalize">
                                {{registro.registro.concepto.term}}
                            </span>
                        </div>
                        <div class="columna">
                            <span class="andes-list-subtitle">{{fecha(registro)}}</span>
                        </div>
                        <div class="columna">
                            <span class="andes-list-subtitle"><small><b>Profesional:</b>
                                    {{registro.profesional.apellido}},
                                    {{registro.profesional.nombre}}</small></span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="categoria.busquedaPor === 'prestaciones'">
                    <div>
                        <div class="columna">
                            <span class="andes-list-title andes-capitalize">
                                {{registro.solicitud.tipoPrestacion.term}}
                            </span>
                        </div>
                        <div class="columna">
                            <span class="andes-list-subtitle">{{fecha(registro.solicitud)}}</span>
                        </div>
                        <div class="columna">
                            <span class="andes-list-subtitle"><small><b>Profesional:</b>
                                    {{profesionalName(registro)}}</small></span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="categoria.busquedaPor === 'cdas'">
                    <div>
                        <div class="columna">
                            <span class="andes-list-title andes-capitalize">
                                {{registro.prestacion.snomed.term}}
                            </span>
                        </div>
                        <div class="columna">
                            <span class="andes-list-subtitle">{{fecha(registro.fecha)}}</span>
                        </div>
                        <div class="columna">
                            <span class="andes-list-subtitle"><small><b>Profesional:</b>{{registro.profesional.apellido}},
                                    {{registro.profesional.nombre}}</small></span>
                        </div>
                    </div>
                </ng-container>
                <div class="button-container">
                    <ion-icon *ngIf="tienePacs(registro)" name="image-outline" class="left xl" (click)="abrirImagen(registro)"></ion-icon>
                    <ion-icon name="download" class="right xl" (click)="descargarCategoria(registro)"></ion-icon>
                </div>
            </div>
        </li>
    </ul>
    <div *ngIf="registros && registros.length === 0" class="icono-text-container no-item">
        <ion-icon class="icono-text lg outline" name="andes-alerta"></ion-icon>
        <h3> No se han encontrado registros </h3>
    </div>
</ion-content>
