<ion-header background="dark">
    <page-navbar [mostrarMenu]="mostrarMenu">
        <span nav-title> Registro en MPI </span>
    </page-navbar>
</ion-header>

<ion-content class="andes-detalle" padding>
    <div class="no-item" *ngIf="inProgress">
        <ion-spinner name="bubbles"></ion-spinner>
    </div>
    <div class="andes-detalle-contenedor" *ngIf="!inProgress">
        <span class="badge success" *ngIf="estado === 'nuevo'"> NUEVO </span>
        <span class="badge success" *ngIf="estado === 'temporal'"> ACTUALIZAR </span>
        <span class="badge danger" *ngIf="estado === 'validado'">VALIDADO </span>

        <!-- <div class="titulo-principal">{{paciente.apellido}} {{paciente.nombre}}</div> -->
        <div class="titulo-secundario">{{paciente.apellido}} {{paciente.nombre}}</div>
        <div class="info-detalle">
        </div>
        <ul class="andes-list" compact>
            <li>
                <div class="andes-container">
                    <ion-icon class="icon-action left" name="card"></ion-icon>
                    <div class="andes-wraper">
                        <div class="andes-list-prefix">Documeto</div>
                        <h2 class="andes-list-title">
                            {{paciente.documento}}
                        </h2>
                        <!-- <div class="andes-list-subfix">Médica generalista</div> -->
                    </div>
                </div>
            </li>

            <li>
                <div class="andes-container">
                    <ion-icon class="icon-action left" name="md-calendar"></ion-icon>
                    <div class="andes-wraper">
                        <div class="andes-list-prefix">Fecha de nacimiento</div>
                        <h2 class="andes-list-title">
                            {{paciente.fechaNacimiento | date: "dd/MM/yyyy"}}
                        </h2>
                        <!-- <div class="andes-list-subfix">Médica generalista</div> -->
                    </div>
                </div>
            </li>

            <li>
                <div class="andes-container">
                    <ion-icon class="icon-action left" name="md-person"></ion-icon>
                    <div class="andes-wraper">
                        <div class="andes-list-prefix">Sexo</div>
                        <h2 class="andes-list-title">
                            {{paciente.sexo}}
                        </h2>
                        <!-- <div class="andes-list-subfix">Médica generalista</div> -->
                    </div>
                </div>
            </li>

        </ul>
    </div>

    <button class="md rounded block success" (click)="save()" *ngIf="estado !== 'validado'" [disabled]="saving">Registrar</button>
    <!-- <button class="md rounded block danger" (click)="volver()" *ngIf="estado === 'validado'">Volver</button> -->

</ion-content>
