<ion-header>
  <page-navbar [mostrarMenu]="mostrarMenu">
    <span nav-title> Farmacias de Turno </span>
  </page-navbar>
</ion-header>

<ion-content>
  <ion-item padding>
    <!-- <ion-label>Localidad</ion-label> -->
    <ion-select full interface="popover" (ionChange)="onSelectLocalidad()" [(ngModel)]="localidadSelect">
      <ion-option *ngFor="let localidad of localidades" [value]="localidad.localidadId">
        {{localidad.nombre}}
      </ion-option>
    </ion-select>
  </ion-item>
  <div class="spinner" *ngIf="loading">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
  <ion-item-group class="numeros-list" *ngIf="!loading">
    <ion-item class="numeros-item" *ngFor="let farmacia of farmacias">
      <h2> <b> {{farmacia.nombre}}</b> <span class="tag-right">{{ formatFecha(farmacia)}}</span> </h2>
      <h3>{{farmacia.direccion}}</h3>
      <h3 (click)="call(farmacia)">{{farmacia.telefono}}</h3>
      <ion-icon class="bottom-icon" name="map" (click)="toMap(farmacia)"></ion-icon>
    </ion-item>
  </ion-item-group>
</ion-content>
