// Layout
page-home {
  .logo-andes {
    margin: 10px auto;
    width: 50%;
  }



  @media (orientation: landscape) {
    text-align: center;
    .logo-andes {
      margin: 0 auto;
      width: 25vw;
    }
    .botonera {
      display: inline-block;
    }
    .button {
      display: inline-block!important;
      width: inherit;
    }
  }

  .contenedor {
    display: flex;
    /* or inline-flex */
    align-items: center;
    position: relative;

        &:last-child {
        button {
            margin-bottom: 0px!important;
        }
    }

    span.badge {
        position: absolute;
        top:-5px;
    }

    span.button-badge {
        position: absolute;
        top: -7px;
        right: -5px;

        &.item-icon {
            border-radius: 50%;
            background-color: $warning;
            padding: 4px;

            &.sm {
                width: 25px;
                height: 25px;
            }
        }
    }
    &:last-child {
        align-items: flex-end;

        }
	}
}
