<ion-header home>
    <page-navbar [menu]="true">
        <span nav-title> <img src="assets/svg/app-logo-blanco.svg" width="42" height="42" /> </span>
        <!-- <img src="assets/svg/app-logo-blanco.svg" width="42" height="42" /> -->
    </page-navbar>
</ion-header>

<ion-content home background="dark" padding>
    <!-- Mensaje bienvenida -->
    <div class="cabecera home">
        <div class="title-container">
            <h2 class="welcome-title" *ngIf="authService.user"> Hola {{ authService.user.nombre }}</h2>
            <h2 class="welcome-title" *ngIf="!authService.user"> Bienvenido </h2>
            <h4 class="welcome-subtitle">¿Qué deseas hacer por tu salud hoy?</h4>
        </div>
    </div>

    <!-- Menu principal Paciente logueado/validado -->
    <!-- Paciente no logueado -->
    <section class="fab-container" [ngClass]="{'show': started}" *ngIf="!isProfesional()">
        <button class="fab-principal home-button" (click)="login()">
            <img class="" src="assets/svg/andes-paciente-in.svg" *ngIf="isLogin()" alt="">
            <img class="nologin" src="assets/svg/andes-paciente-out.svg" *ngIf="!isLogin()" alt="">
        </button>
        <ul class="circle-container">

            <li class="fab-secundario">
                <div class="item-content horizontal ic-0">
                    <button class="item-icon outline circular" [disabled]="!isLogin()" (click)="misTurnos()">
                        <ion-icon name="andes-turno"></ion-icon>
                    </button>
                    <div class="fab-title" (click)="misTurnos()">Mis<br>turnos</div>
                </div>
            </li>

            <li class="fab-secundario">
                <div class="item-content horizontal ic-1">
                    <button class="item-icon outline circular" [disabled]="!isLogin()" (click)="vacunas()">
                        <ion-icon name="andes-vacuna"></ion-icon>
                    </button>
                    <div class="fab-title" (click)="vacunas()">Mis<br>Vacunas</div>
                </div>
            </li>
            <li class="fab-secundario">
                <div class="item-content vertical ic-2">
                    <button class="item-icon outline circular" [disabled]="!isLogin()" (click)="laboratorio()">
                        <ion-icon name="andes-laboratorio"></ion-icon>
                    </button>
                    <div class="fab-title" (click)="laboratorio()">Mis<br>Laboratorios </div>
                </div>
            </li>
            <li class="fab-secundario">
                <div class="item-content horizontal-left ic-3">
                    <button class="item-icon outline circular" [disabled]="!isLogin()" (click)="historiaDeSalud()">
                        <ion-icon name="andes-huds"></ion-icon>
                    </button>
                    <div class="fab-title" (click)="historiaDeSalud()">Mi Historia<br>de Salud</div>
                </div>
            </li>

        </ul>
    </section>

    <!-- Menu principal Profesional -->
    <section class="fab-container" [ngClass]="{'show': started}" *ngIf="isProfesional()">
        <button class="fab-principal home-button">
            <img src="assets/svg/andes-profesional-in.svg" alt="">
        </button>
        <ul class="circle-container">

            <li class="fab-secundario">
                <div class="item-content horizontal ic-1">
                    <button class="item-icon outline circular" [disabled]="!isLogin()" (click)="misAgendas()">
                        <ion-icon name="andes-turno"></ion-icon>
                    </button>
                    <div class="fab-title" (click)="misAgendas()">Mis<br>Agendas</div>
                </div>
            </li>
            <li class="fab-secundario" [ngStyle]="{visibility: authService.check('mpi:?') ? 'visible' : 'hidden' }">
                <div class="item-content horizontal ic-2">
                    <button class="item-icon outline circular" [disabled]="!isLogin()" (click)="mpi()">
                        <ion-icon name="andes-mpi"></ion-icon>
                    </button>
                    <div class="fab-title" (click)="mpi()">MPI </div>
                </div>
            </li>
            <li class="fab-secundario">
                <div class="item-content vertical ic-3">
                    <button class="item-icon outline circular" [disabled]="!isLogin()" (click)="formularioTerapeutico()">
                        <ion-icon name="andes-vacuna"></ion-icon>
                    </button>
                    <div class="fab-title" (click)="formularioTerapeutico()">Formulario Terapeutico </div>
                </div>
            </li>
            <li class="fab-secundario"></li>
            <li class="fab-secundario"></li>
            <li class="fab-secundario"></li>
            <li class="fab-secundario"></li>
            <li class="fab-secundario">
                <div class="item-content horizontal ic-8">
                    <button class="item-icon outline circular" [disabled]="!isLogin()" (click)="rup()">
                        <ion-icon name="andes-vacuna"></ion-icon>
                    </button>
                    <div class="fab-title" (click)="vacunas()"> RUP </div>
                </div>
            </li>
        </ul>
    </section>

    <div class="contenedor-botonera">
        <!-- Numeros de Emergencia -->
        <div class="botonera-left">
            <div class="contenedor">
                <button class="item-icon outline circular contenedor" (click)="farmacias()">
                    <ion-icon name="andes-farmacia"></ion-icon>
                </button>
                <div class="item-title btn-text" (click)="farmacias()">Farmacias de turno</div>
            </div>
            <div class="contenedor">
                <button class="item-icon danger circular" (click)="numerosUtiles()">
                    <ion-icon name="andes-ambulancia"></ion-icon>
                </button>
                <div class="item-title btn-text" (click)="numerosUtiles()">Números de emergencias</div>
            </div>
        </div>
        <div class="botonera-right">
            <!-- Mapa de Salud -->
            <button class="item-icon primary md circular" (click)="centrosDeSalud()">
                <ion-icon name="andes-marker-salud"></ion-icon>
                <div class="item-title bottom">Tu mapa de Salud</div>
            </button>
        </div>
    </div>
</ion-content>
