<ion-header background="dark">
    <page-navbar [menu]="false">
        <div buttons>
        </div>
        <span nav-title> Mis familiares </span>
    </page-navbar>
</ion-header>


<ion-content>
    <ul class="andes-list" *ngIf="relaciones?.length > 0">
        <li *ngFor="let relacion of relaciones">
            <div class="andes-container" (click)="verRelacion(relacion)">
                <div class="andes-wraper">
                    <div class="badge primary">
                        {{relacion.relacion.nombre}}</div>
                    <div class="andes-list-title"> <small>
                            <strong> {{relacion.nombre}} {{relacion.apellido}}</strong><br>
                        </small>
                    </div>

                    <ion-icon class="icon-action left xl" name="card"></ion-icon> {{ relacion.documento }}
                </div>
                <ion-icon *ngIf="((relacion.relacion.nombre==='hijo/a' && relacion.edad<11) || relacion.relacion.nombre==='progenitor/a') "
                          class="icon-action right xl" name="ios-arrow-forward-outline">
                </ion-icon>
            </div>

        </li>
    </ul>
    <div *ngIf="relaciones?.length == 0" class="no-item">
        <h3> El paciente no tiene familiares asociados </h3>
    </div>
</ion-content>