<ion-header class="dark" translucent="true">
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="home" text=""></ion-back-button>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="dark ion-padding-horizontal">
    <section class="cabecera login ion-flex ion-justify-content-between ion-align-items-center">
        <div class="title-container">
            <h2 class="welcome-title" *ngIf="!authService.user">¡Bienvenido a Andes!</h2>
        </div>
    </section>
    <ion-item>
        <ion-label>Para finalizar tu activación, es necesario que cambies la clave actual.</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Recordá que tu usuario es: {{ email }}</ion-label>
    </ion-item>
    <form novalidate (ngSubmit)="onSubmit(formRegistro)" [formGroup]="formRegistro">
        <div>
            <input class="md rounded block outline" placeholder="Nueva contraseña" formControlName="password"
                   type="password" [formGroup]="formRegistro" autocomplete="off" />
        </div>

        <div>
            <input class="md rounded block outline" placeholder="Confirmar nueva contraseña"
                   formControlName="confirmarPassword" type="password" [formGroup]="formRegistro" autocomplete="off" />
        </div>
        <ion-text color="light" class="ion-margin-start"
                  *ngIf="formRegistro.controls.confirmarPassword.errors?.MatchPassword">
            <small><b>Las contraseñas no coinciden</b></small>
            <hr>
        </ion-text>

        <button class="md rounded block success" type="submit" [disabled]="formRegistro.invalid || running">
            Actualizar e ingresar
        </button>
    </form>
</ion-content>
