<ion-header class="dark" translucent="true">
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="home" text=""></ion-back-button>
        <ion-title><small>Mis Turnos | Detalle</small></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="turno" class="dark ion-padding-top margin-left-10" [class.familiar]="familiar">
    <span class="badge ion-margin-bottom" [class.success]="turno.estado !== 'suspendido'"
          [class.danger]="turno.estado === 'suspendido'">{{turno.estado}}</span>
    <span *ngIf="turno.link" class="badge ion-margin-bottom">Turno Virtual</span>
    <div class="andes-detalle-contenedor">
        <div class="titulo-principal ion-margin-vertical">
            <ion-icon class="left sm" name="andes-turno"></ion-icon> {{diaTurnoFecha() | dayFilter}}
            <ion-icon class="horario left sm" name="andes-horario"></ion-icon> {{ turnoHora() }}
        </div>
        <div class="fecha ion-margin-vertical">{{turnoFecha()}}</div>
    </div>
    <div class="andes-detalle-contenedor titulo-secundario ion-text-capitalize prestacion">
        {{ turno.tipoPrestacion.term }}
    </div>
    <div class="andes-detalle-contenedor hr">
        <hr>
    </div>
    <div class="andes-detalle-contenedor-two">
        <div class="andes-container">
            <div class="andes-list-prefix">Profesional:</div>
            <div class="andes-wraper">
                <ion-icon class="left sm icon-detalle" name="andes-profesional"></ion-icon>
                <small class="andes-list-title"> {{profesionalName()}} </small>
                <br>
                <small class="andes-list-title andes-wraper-sub"> {{profesionalFormacion()}} </small>
            </div>
        </div>
        <div class="andes-container">
            <div class="andes-list-prefix">Duración:</div>
            <div class="andes-wraper">
                <ion-icon class="left sm icon-detalle" name="andes-horario"></ion-icon>
                <small class="andes-list-title"> {{turno.duracionTurno}} min. </small>
            </div>
        </div>
        <div class="andes-container" (click)="mapTurno();">
            <div class="andes-list-prefix">Efector:</div>
            <div class="andes-wraper">
                <ion-icon class="left sm icon-detalle" name="andes-marker-salud"></ion-icon>
                <small class="andes-list-title"> {{efector()}} </small>
            </div>
        </div>
        <div *ngIf="turno.link">
            <div class="andes-container">
                <ion-icon class="left sm icon-detalle" name="desktop-outline"></ion-icon>
                <div class="andes-wraper">
                    <div class="andes-list-prefix">Consultorio Virtual</div>
                    <div class="andes-list-subfix">Turno por video llamada</div>
                </div>

            </div>
            <br>
            <div class="andes-container">
                <p>Vas a poder acceder el <span>{{ turnoFecha() }}</span> a las <span>{{
                        turnoHora() }} hs</span>, tocando el siguiente botón
                </p>
            </div>
        </div>
    </div>

    <div *ngIf="turno.link">
        <button class="md rounded block success" [class.disabled]="turnoActivo" [disabled]="turnoActivo"
                (click)="linkConsultorioVirtual(turno.link);">Comenzar consulta
            Virtual</button>
    </div>
    <div *ngIf="turnoAsignado">
        <button class="md danger button-cancelar" (click)="cancelarTurno()">Cancelar turno</button>
    </div>
</ion-content>