page-recuperar-password {

  h1 {
    font-size: 22px;
    margin-top: 30px;
  }

  .candado ion-icon {
    text-align: center;
    font-size: 8em;
    color: #ccc;
  }

  .text-description {
    font-size: 18px;
    margin: 10px 0 40px 0;
    color: #ccc;
  }

}
