<ion-header>
  <page-navbar [mostrarMenu]="false">
    <span nav-title> Seleccione su efector </span>
  </page-navbar>
</ion-header>

<ion-content>

  <div *ngIf="!organizaciones">

    <h3> Buscando efectores ... </h3>

  </div>

  <ion-item-group *ngIf="organizaciones?.length > 0" class="turno-list">
    <ion-item *ngFor="let organizacion of organizaciones" (click)="onOrganizacionClick(organizacion)">
      {{organizacion.nombre}}
    </ion-item>
  </ion-item-group>

  <div *ngIf="organizaciones?.length == 0" class="no-item">
    <h3> No tienes ningún efector asignado</h3>
  </div>
</ion-content>
