@charset "UTF-8";
/*
  https://yannbraga.com/2017/06/28/how-to-use-custom-icons-on-ionic-3/
*/
$mobile-app-font-path: $font-path !default;

@font-face {
  font-family: "mobile-app";
  src:url("#{$mobile-app-font-path}/mobile-app.eot");
  src:url("#{$mobile-app-font-path}/mobile-app.eot?#iefix") format("embedded-opentype"),
    url("#{$mobile-app-font-path}/mobile-app.woff") format("woff"),
    url("#{$mobile-app-font-path}/mobile-app.ttf") format("truetype"),
    url("#{$mobile-app-font-path}/mobile-app.svg#mobile-app") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "mobile-app" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="andes-"]:before,
[class*=" ion-md-andes-"]:before,
[class*=" ion-ios-andes-"]:before,
[class*=" andes-"]:before, {
  font-family: "mobile-app" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin makeIcon($arg, $val) {
  .andes-#{$arg}:before ,
  .ion-ios-andes-#{$arg}:before ,
  .ion-ios-andes-#{$arg}-outline:before ,
  .ion-md-andes-#{$arg}:before ,
  .ion-md-andes-#{$arg}-outline:before  {
    content: $val;
  }
}

// armamos compatibilidad con el tag <ion-icon>
@include makeIcon(ambulance, '\61');
@include makeIcon(lock-outline, '\61');
@include makeIcon(edificio-centro-salud, '\63');
