@import "andes_variables.scss";

.spinner {
  text-align: center;
}

.btn {
    font-size: 1.6rem;
    padding: 20px;
    &.btn-success {
        background-color: $success;
    }
    &.btn-full {
        width: 100%;
    }
}


.contenedor-botonera {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    width: calc(100% - 10%);
    position: absolute;
    bottom: 5%;

    button:first-child {
        margin-bottom: 8px;
    }
}

.botonera-left {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;

    ion-icon {
        font-size: 2.5rem;
    }
}

.botonera-right {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    grid-column: 2 / -1;
}

@media screen and (max-height: 500px) {
    .botonera {
        display: none;
    }
}

.numeros-list {
    padding-top: 16px;
    .img-fit {
        object-fit: cover;
    }
    a {
        color: black;
        text-decoration: none;
    }
    &.colored {
        .label {
            padding: 15px 5px;
            border-left: 4px solid $success!important;
        }
    }
    .numeros-item {
        position: relative;
        padding-left: 16px;
        padding-right: 16px;
        .date-title {
            color: $label-dark;
        }
        h2 {
            white-space: initial;
        }
        .number {
            color: $label-dark;
        }
        .left-icon {
            width: 25px;
            fill: $label-dark;
        }
        .right-icon {
            position: absolute;
            right: 10px;
            top: 8px;
            background-color: #8CC63F;
            padding: 6px;
            border-radius: 50%;
        }
        .title {
            vertical-align: 5px;
            padding-left: 5px;
            font-size: 1.8rem;
        }
        .tag-right {
            float: right;
            color: $label-dark;
        }
        .bottom-icon {
            position: absolute;
            right: 25px;
            bottom: 12px;
            font-size: 3rem;
            color: darkgreen;
        }
        .text-end {
            text-align: end;
        }
        &:active {
            background-color: grey;
        }
        .subtitle {
            margin-left: 35px;
        }
        [item-end] {
            font-size: 3rem;
        }
        .ligth-blue {
            color: rgb(6, 195, 228);
        }
    }
}

ion-navbar {
    .nav-title {
        font-weight: normal!important;
        color: white;
        strong {
            font-weight: bold;
        }

    }
    .toolbar-background {
        border-color: #b2b2b2;
        background-color: rgba(255, 255, 255, 0.25);
        background-blend-mode: multiply;
    }

    [buttons] {
        ion-icon {
            font-size: 3rem;
            color: white;
            margin: 5px;
        }
    }
}

ion-navbar [nav-title] {
    font-weight: 400!important;
}

.popover-content .list {
    margin: -1px 0 0 0;
}

.turno-item-popover {
    .cancelar-item {
        ion-icon {
            color: $danger;
            font-size: 2rem;
        }
    }
    .confirmar-item {
        ion-icon {
            color: $success;
            font-size: 2rem;
        }
    }
}

ion-item {
    background: transparent;
}

// Inputs

.input-item {
    margin-top: 10px;
    label {
        display: block;
        margin-bottom: 3px;
        color: $info;
        font-size: 1.5rem;
    }
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=number]
    {
        display: block;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        font-size: 1.5rem;
        border-radius: 10px;
    }
}

ion-toast {
    .toast-container {
        text-align: center;
        .toast-message {
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    &.success .toast-container {
        background-color: $success;
    }
    &.danger .toast-container {
        background-color: $danger;
    }
}
ion-content[user-data],
ion-content[personal-data] {
    input {
        color:#ffffff !important;
    }
    .input-has-focus .label-md[floating]{
        color: #ffffff;
    }
    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: #ffffff;
        box-shadow: inset 0 -1px 0 0 #ffffff;
    }
    .label, .select-text {
        color: white;
    }
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom-color: rgb(177, 177, 177);
        box-shadow: inset 0 -1px 0 0 rgb(177, 177, 177);
    }
}

ion-content[light] {
    background-color: none;

    input.ng-untouched.ng-valid {
        border: none;
        border-bottom: solid 1px $gris;
    }

    input.ng-valid.ng-touched {
        border: none;
        border-bottom: solid 1px $info;
    }

    input {
        font-size: 2.5rem;
        width:100%;
        margin-bottom: 3.5rem;
        padding: 0;

        .titulo-prefix {
            color: $light-gris;
            font-size : 1.5rem;
            font-weight: 400;
            line-height : 2rem;
            text-align: left;
            text-transform: capitalize;
        }
    }

    input[placeholder] {
        color: $light-gris;
    }
}


.aviso-legal-content {
    background-color: rgba(255, 255, 255, 0.25);
    color: #fff;
    text-align: left;
}
.checkbox-icon {
    transform: scale(2.0);
}
.legal-text {
    display: inline-block;
    width: calc(100% - 40px);
}
ion-checkbox {
    vertical-align: 15px;
}

ion-content[rup-adjuntar],
page-informacion-validacion {
    text-align: center;
    color: white;
    button {
        height: auto!important;
    }
    .content-icon {
        font-size: 80px;
    }
    .content-title {
        margin-top: 5px;
    }
    .img-wrapper {
        position: relative;
        display: inline-block;
        margin: 3px;
        img {
            width: 96px;
            height: 96px;
        }

        .close-icon {
            position: absolute;
            right: 0px;
            top: 0px;
            background-color: grey;
            border-radius: 50%;
            padding: 3px;
            width: 25px;
            height: 25px;
        }
    }

    .acciones {
        position: absolute;
        bottom: 10px;
        width: 93%;
    }

    .spinner * {
        margin-top: 45%;
        width: 130px;
    }
}

ion-content[bienvenida] {
    text-align: center;
    background-color: rgb(4, 53, 72);
    ion-icon {
        margin-top: 25%;
        font-size: 100px;
        color: #8CC63F;
    }
    h3 {
        margin-top: 30px;
        font-size: 30px;
        color: rgb(95, 255, 255);
    }
    button {
        width: 75%;
        margin: 0 auto;
        margin-top: 15%;
        background-color: #8CC63F;
        height: 4rem;
        font-size: 1.6rem;
    }
    .content-username {
        font-size: 25px;
        color: #08Baff
    }
    .content-text {
        font-size: 2rem;
        padding: 0 10%;
        color: #777777;
    }
}


page-waiting-validation {
    ion-content {
        .icon {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        ion-icon {
            font-size: 80px; //Preferred size here
            color: #5EBA74;
        }
        ion-item {
            background-color: transparent!important;
        }
        form {
            background-color: rgb(200, 214, 221);
            padding-bottom: 20px;
            padding-top: 20px;
            padding: 20px 5%;
        }
        button {
            margin: 10px auto!important;
            &[type=submit] {
                background-color: #8CC63F;
                height: 5rem;
                font-size: 1.6rem;
            }
        }
    }
}

page-waiting-validation {
    ion-content {
        margin-top: 5%;
        .card-icon {
            font-size: 80px; //Preferred size here
            color: red;
        }
        .btn-calendar {
            font-size: 4rem;
            vertical-align: -40px;
            color: gray;
        }
        .btn-back {
            background-color: $danger!important;
        }
        form {
            background-color: white;
            padding-bottom: 20px;
            padding-top: 20px;
            padding: 20px 5%;
        }
    }
}

.profile_report_error {
    position: relative;
    white-space: normal;
    background-color: #A3BBC6;
    padding-bottom: 20px;
    .error-container {
        display: inline-block;
        padding: 15px 40px 10px 80px;
        h3 {
            font-weight: bold;
            font-size: 1.6rem;
        }
        p {
            text-align: justify;
        }
    }
    ion-icon {
        position: absolute;
        top: 25px;
        left: 25px;
        font-size: 5rem;
        color: red;
        font-weight: bold;
        &.warning {
        color: yellow;
        }
    }
    button {
        width: 85%;
        margin: 0 7%;
        padding: 20px!important;
        font-size: 1.4rem!important;
    }
}

page-editor-paciente {
    ion-content {
        background-color: #A3BBC6!important;
        .form-field {
            background-color: white;
            padding-right: 20px;
            padding-bottom: 40px;
        }
    }
}

page-profile-paciente {
    .item {
        padding-left: 0!important;
    }
    .item-inner {
        padding: 0!important;
    }
    .label {
        margin: 0!important;
    }
    .item_header {
        padding-left: 16px!important;
        h2 {
            font-weight: bold;
        }
        .item-inner {
            padding: 20px 0px!important;
        }
        &.opened {
            border: solid 1px #08Baff;
            border-bottom: none;
            h2 {
                color: #08Baff;
                font-weight: bold;
            }
            ion-icon {
                color: #08Baff;
            }
            .item-inner {
                border: none!important;
                padding: 5px 0px!important;
            }
        }
    }
    .item_detail {
        border: solid 1px #08Baff;
        border-top: none;
    }
    .profile-item {
        padding-left: 16px!important;
        margin-bottom: 10px;
        margin-top: 10px;
        h3 {
            font-size: 1.6rem;
            font-weight: bold;
        }
    }
    .btn-save {
        width: 85%;
        margin: 10px 7%;
        padding: 20px!important;
        font-size: 1.4rem!important;
    }
    .contact-item {
        padding-right: 16px!important;
        padding-left: 16px!important;
        margin-bottom: 10px;
        margin-top: 10px;
        h3 {
            font-size: 1.6rem;
            font-weight: bold;
            border-bottom: solid 1px grey;
            margin-right: 10%;
        }
        ion-select {
            width: 100%!important;
            max-width: 100%;
        }
        button {
            width: 90%;
            margin: 0 7%;
        }
    }
}


ion-select[full] {
    width: 100%!important;
    max-width: none!important;
}

.iw-container  .iw-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #48b5e9;
    color: white;
    margin: 1px;
    border-radius: 2px 2px 0 0; /* De acordo com o arredondamento dos cantos da infowindow por padrão. */
}

// Extensiones
// Botones List
.item-md {
    position: relative;
    padding-right: 0;
    padding-left: 16px;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: transparent;
    box-shadow: none;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.andes-fab,
.andes-fab button {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

ion-content button {
    color: white;
    position: relative;
    height: 100%;
    padding: 10px;
    transition: all .1s;
    // Posicion

    // Hover button
    &.activated {
        opacity: 0.8;
    }
    // Fondos
    &.primary {
        background: $primary;
    }
    &.danger {
        background: $danger;
    }
    &.warning {
        background: $warning;
    }
    &.success {
        background: $success;
    }
    &.outline {
        background: transparent;
        border: 2px solid white;

        @include outline-color('danger', $danger);
        @include outline-color('success', $success);
        @include outline-color('primary', $primary);
        @include outline-color('warning', $warning);
    }
    // Dimensiones
    &.sm {
        height: 2rem;
    }
    &.md {
        height: 8rem;
        width: 8rem;
        padding: 1.5rem;
        font-size: 1.5rem;
    }
    &.block {
        width: 100%;
    }
    // Forma
    &.circular {
        border-radius: 50%;
    }
    &.rounded {
        border-radius: 25px;
    }
    .label-text {
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 2rem;
        position: absolute;
        top: 40%;
    }
    &.block.rounded {
        margin: 1rem 0 1rem 0;
        text-transform: uppercase;
        height: 5rem;
    }
}

ion-content input {
  // Posicion
    margin: 1rem 0 1rem 0;
    padding: 0 2rem 0 2rem;
    // Fondos
    &.outline {
        background: transparent;
        border: 2px solid white;
        color: white;
    }
    // Dimensiones
    &.sm {
        height: 2rem;
    }
    &.md {
        height: 5rem;
    }
    &.block {
        width: 100%;
    }
    // Forma
    &.circular {
        border-radius: 50%;
    }
    &.rounded {
        border-radius: 25px;
    }
}

/**
    ANDES FAB
*/

.andes-fab {
    position: absolute;
    left: 46%;
    top: 38%;
    width: 140px;
    height: 140px;
    margin-top: -70px;
    margin-left: -70px;

    ul {
        position: absolute;
        list-style: none;
        padding: 0;
        margin: 0;
        top: -20px;
        right: -70px;
        bottom: -20px;
        left: -20px;

        li {
            position: absolute;
            width: 0;
            height: 100%;
            margin: 0 50%;
            transform: rotate(-360deg);
            transition: all 0.8s ease-in-out;

            .fab-title {
                position: absolute;
                color: white;
                font-size: 1.1rem;
                display: inline-block;
                line-height: 1.5rem;
                text-align: left;
                margin-left: 55px;
                width: 72px;

                &.btn-text {
                    margin-left: 20px;
                }
                &.right {
                    right: 70%;
                    top: 100%;
                }
                &.bottom {
                    top: 100%;
                    right: 35%;
                    text-align: center;
                }
            }

            .item-content {
                position: absolute;
                left: 50%;
                bottom: 90%;
                width: 0;
                height: 0;
                line-height: 1px;
                margin-left: 0;
                background: transparent;
                text-align: center;
                font-size: 1px;
                box-shadow: none;
                display: flex;
                align-items: center;

                opacity: 0;
                transition: opacity 1.5s;
                @for $i from 1 through 6 {
                    &.ic-#{$i} {
                      transition-delay: 0.1s + $i * 0.4s;
                    }
                }

                &.pull-left {
                    left: 6%;
                }
            }

        }
    }


    button.item-icon.activated {
        width: 55px;
        height: 55px;
        border-color: #3071a9;
        color: #3071a9;
        & + .fab-title {
            color: #3071a9;
        }
    }

    button.item-icon[disabled] + .fab-title {
        opacity: 0.4;
    }

    &.open li {
        ion-icon {
            font-size: 2rem;
        }
        &[side=top] {
            transform: rotate(0deg);
        }

        &[side=top-right] {
            transform: rotate(45deg);
            .item-content {
                transform: rotate(-45deg);
            }
        }

        &[side=right] {
            transform: rotate(90deg);
            .item-content {
                transform: rotate(-90deg);
            }
        }

        &[side=bottom-right] {
            transform: rotate(135deg);
            .item-content {
                transform: rotate(-135deg);
            }
        }

        &[side=bottom] {
            transform: rotate(180deg);
            .item-content {
                transform: rotate(-180deg);
            }
            // .fab-title {
                // display: block;
            // }
        }

        &[side=bottom-left] {
            transform: rotate(225deg);
            .item-content {
                transform: rotate(-225deg);
            }
            .fab-title {
                // display: block;
                text-align: right;
            }
        }

        &[side=left] {
            transform: rotate(270deg);
            .item-content {
                transform: rotate(-270deg);
            }
        }

        &[side=top-left] {
            transform: rotate(315deg);
            .item-content {
                transform: rotate(-315deg);
            }
        }
    }


    &.show ul li .item-content {
        opacity: 1;
    }

    &.open li .item-content {
        width: 100px;
        height: 60px;
        line-height: 60px;
        margin-left: -40px;
        font-size: 14px;
    }

}


@media only screen and (min-width: 640px) and (min-height: 320px) and (max-height: 800px)  {
  .andes-fab ul li .fab-title {
    display: none;
  }
}

ion-fab-list[side=bottom-right] {
    top: auto;
    left: 85%;
    bottom: -75%;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

// Iconos
[class*="icon"].md {
  font-size: 4rem;
}

[class*="icon"].sm {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
}

.icon-central {
    font-size: 11.5rem;
    position: relative;
    left: 1%;
    top: 1.15rem;
}

.icon-lg {
    height: 14rem;
}

.blur {
    position: relative;
    opacity: 0.2;
}

.item-icon {
    width: 50px;
    height: 50px;
}

.contenedor {
  display: flex; /* or inline-flex */
  align-items: center;
}

.item-title {
    position: relative;
    color: white;
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align: left;
    width: 85px;

    &.btn-text {
        margin-left: 10px;
    }
    &.right {
        right: 70%;
        top: 100%;
    }
    &.bottom {
        top: 100%;
        right: 35%;
        text-align: center;
        text-transform: uppercase;
        margin-top: 2rem;
    }
}

.cabecera {
    margin-bottom: 20px;
    &.home {
        float: left;
        text-align: left;
    }
    &:after {
        content: "";
        background-color: white;
        display: block;
        width: 40px;
        height: 2px;
        border-radius: 25px;
    }
}

.welcome-title {
    font-size: 2.5rem;
    font-weight: 300;
    color: white;
    // text-transform: capitalize;
}

.welcome-subtitle {
    font-size: 1.5rem;
    font-weight: 300;
    color: #90dcfc;
    margin-top: 0;
}
// Background gradients
// Header bg
ion-header ion-navbar img {
  float: left;
}

ion-header[background="dark"] {
  @include background-gradient (rgba(0,103,144,1), rgba(3,66,94,1), rgba(4,55,80,1));
}

// Content bg
ion-content[background="dark"] {
  @include background-gradient (rgba(0,103,144,1), rgba(3,66,94,1), rgba(4,55,80,1));
}

ion-content[background=light] {
    @include background-gradient (rgba(23,166,223,1), rgba(3,103,144,1), rgba(3,103,144,1));
}

ion-nav.profesional {
    ion-content[background="dark"] {
        @include background-gradient (rgba(148,27,128,1), rgba(101,38,128,1), rgba(101,38,128,1));
    }

    ion-header[background="dark"] {
        @include background-gradient (rgba(148,27,128,1), rgba(101,38,128,1), rgba(101,38,128,1));
      }
}

/**
 * ANDES LIST
 */

.andes-list {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 0;

    li {
        border-bottom: solid 1px grey;
        opacity: 1;
        transition: opacity 1s;
        padding: 2.5rem 1rem 2.5rem 1rem;

        .andes-container {
            display: flex;
            .andes-wraper {
                flex-basis: 100%;
                ion-icon {
                    color: $info;
                    transform: rotate(0deg);
                }
            }

            > ion-icon {
                color: $info;

                align-self: center;
                &.left {
                    margin-right: 15px;
                }
                &.right {
                    margin-left: 15px;
                }
                &.md {
                    font-size: 3rem;
                    width: 32px;
                }
                &.xl {
                    font-size: 5rem;
                    width: 64px;
                }
                &.danger {
                    color: $danger;
                }
            }

            > ion-icon.icon-action, > img.icon-action {
                color: $info;
                align-self: center;
                &.left {
                    margin-right: 15px;
                }
                &.right {
                    margin-left: 15px;
                }
                &.md {
                    font-size: 3rem;
                }
                &.xl {
                    font-size: 5rem;
                }
                &.danger {
                    color: $danger;
                }
            }
        }

        h2 {
            font-size: 1.8rem;
            color: $gris;
        }

        .andes-list-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            max-height: 35rem;

            .columna {
                align-items: center;
                flex-basis: 100%;
            }
        }
        .andes-list-dropdown {
            position: absolute;
            right: 5%;
            top: 5%;
        }
    }

    &[compact] li {
        padding: 1rem ;
    }


    .andes-list-title {
        margin: 0;

        ion-icon {
            font-size: 3rem!important;
        }

        .remark {
            color: $primary;
        }
    }

    .andes-list-subtitle {
        font-size : 1.5rem;
        line-height : 2rem;
        margin-left: 0.5rem;
        text-align: left;
        color: $light-gris;
        text-transform: capitalize;
    }

    .andes-list-prefix {
        color: $light-gris;
        font-size : 1.5rem;
        font-weight: 500;
        line-height : 2rem;
        text-align: left;
        text-transform: capitalize;
    }

    .andes-list-subfix {
        color: $info;
        font-size : 1.5rem;
        line-height : 2rem;
        text-align: left;
        text-transform: capitalize;
    }

}

/* ANDES badge */
.badge {
    border-radius: 15px;
    background: transparent;
    border: 2px solid;
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    text-transform: uppercase;
    height: 100%;
    @include outline-color('danger', $danger);
    @include outline-color('success', $success);
    @include outline-color('primary', $primary);
    @include outline-color('warning', $warning);
}

.icon-title {
    font-size : 1.5rem;
    line-height : 2rem;
    text-align: left;
    color: $light-gris;
    text-transform: lowercase;
    ion-icon {
        color: $info;
        height: 15px;
    }
}

.bar-button-default-md {
    color: #d0e2eb;
}

.bar-button-default-md:active {
    color: #a8c2ce;
}

/**
 * ANDES DETALLE
 */

.andes-detalle {
    padding: 1rem;

    & ion-icon {
        color: $info;
        margin-right: 5px;
    }

    .andes-detalle-contenedor {
        border-bottom: solid 1px grey;
        padding-top: 2rem;
    }

    .titulo-prefix {
        color: $light-gris;
        font-size : 1.5rem;
        font-weight: 400;
        line-height : 2rem;
        text-align: left;
        text-transform: capitalize;
        margin-top: 4rem;
    }

    .titulo-subfix {
        color: $info;
        font-size : 2.5rem;
        line-height : 2rem;
        text-align: left;
        text-transform: capitalize;
    }

    .titulo-principal {
        font-size: 7rem;
        color: $darkblue;
        font-weight: 300;
        text-transform: capitalize;

        span {
            font-weight: bold;
        }

        &.md {
            font-size: 3.5rem;
        }
    }

    .titulo-secundario {
        font-size: 2rem;
        color: $violeta;
        font-weight: 500;
        margin-top: 4rem;
    }

    .andes-list li {
        padding-left: 0;
        border-bottom: none;

        .andes-wraper:after {
            content: "";
            background-color: grey;
            display: block;
            width: 40px;
            height: 2px;
            border-radius: 25px;
            margin-top: 10px;
        }
    }
}

.info-detalle {
    display: flex;
    justify-content: space-between;
    &:last-child {
        margin-bottom: 3rem;
    }
}

.no-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1,h2,h3,h4,h5 {
        text-align: center;
    }

    ads-icon {
        width: 60%;

        * {
            stroke: $primary;
        }
    }
}

ion-menu {
    margin-top: 56px;
    .menu-inner {
        opacity: 0.9;

        ion-label {
            text-align: right;
            font-size: 1.8rem;
            font-weight: 300;
            line-height: 2.5rem;

            .danger {
                color: $danger;
            }

            .primary {
                color: $primary;
            }
        }

        .profile-content{
            text-align: right;
            padding: 2rem;

            button.outline {
                font-size: 6rem;

                font-size: 6rem;
                height: 84px;

                &.opacity {
                    opacity: 0.2;
                }

                &.paciente {
                    border-color: $darkblue;
                    color: $darkblue;
                }

                &.profesional {
                    border-color: $violeta;
                    color: $violeta;
                }

                span {
                    position: relative;
                    left: 1%;
                    top: 1rem;
                }

            }

            .profile-name {
                margin-top: 5px;
                font-size: 1.4rem;
            }
            .profile-doc {
                margin-top: 5px;
                font-size: 1.25rem;
                color: $info;
                &:after {
                    content: "";
                    background-color: black;
                    display: block;
                    height: 2px;
                    border-radius: 25px;
                    margin-left: 90%;
                    margin-top: 10px;
                }
            }
        }
    }
}

/** FIN */
