<ion-header class="dark" translucent="true">
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="home" text=""></ion-back-button>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="dark ion-padding-horizontal">
    <!-- Mensaje bienvenida -->
    <section class="cabecera login ion-flex ion-justify-content-between ion-align-items-center">
        <div class="title-container">
            <h2 class="welcome-title" *ngIf="!authService.user">Ingreso</h2>
            <h4 class="welcome-subtitle"></h4>
        </div>
    </section>
    <section class="input-container">
        <div>
            <input class="md rounded block outline" placeholder="Usuario de ANDES (Correo electrónico)"
                   [(ngModel)]="email" type="email" autoCapitalize="none" (keypress)="onKeyPress($event, 'password')" />
        </div>
        <div>
            <input class="md rounded block outline" placeholder="Clave de ANDES" id="password" [(ngModel)]="password"
                   type="password" (keypress)="onKeyPress($event, 'submit')" />
        </div>
        <div>
            <button class="md rounded block success" [disabled]="inProgress" (click)="login()">Ingresar</button>
            <button class="md rounded block warning" (click)="registrarse()">Registrarse</button>
            <button class="md rounded block outline" routerLink="/login/recuperar-password"> RECUPERAR CONTRASEÑA
            </button>
        </div>
    </section>
</ion-content>
