page-organizaciones {

  h3 {
     color:white;
  }

  .item {
    color:white;
    white-space: normal;

    &.activated {
      background-color: #362837;
    }
  }

  .label {
    white-space: normal;
    border-left: solid 3px white;
    padding-left: 5px;
  }
}
