<ion-header>
    <page-navbar [menu]="false">
        <span nav-title> Seleccione su efector </span>
    </page-navbar>
</ion-header>

<ion-content background="dark">

    <div *ngIf="!organizaciones" class="no-item">
        <ads-icon icon="ball-triangle"></ads-icon>
    </div>

    <ion-item-group *ngIf="organizaciones?.length > 0" class="turno-list" inset>
        <ion-item>
            <button ion-item *ngFor="let organizacion of organizaciones" (click)="onOrganizacionClick(organizacion)">
                {{organizacion.nombre}}
            </button>
        </ion-item>

    </ion-item-group>

    <div *ngIf="organizaciones?.length == 0" class="no-item">
        <h3> No tienes ningún efector asignado</h3>
    </div>
</ion-content>
