<ion-content class="dark" profile-paciente [class.familiar]="familiar">
    <div class="no-item" *ngIf="inProgress">
        <ads-icon icon="ball-triangle"></ads-icon>
    </div>
    <ion-card *ngIf="paciente && !inProgress">
        <ion-card-header>
            <ion-avatar>
                <ion-icon *ngIf="!photo" name="person-circle-outline" color="primary" class="icono-info"></ion-icon>
                <img *ngIf="photo" [src]="photo">
            </ion-avatar>
            <ion-card-subtitle class="ion-text-uppercase">Mis datos personales</ion-card-subtitle>
            <ion-card-title class="ion-text-uppercase" color="dark">{{ paciente.apellido }},
                {{ paciente.nombre }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label color="dark">
                        <b>Género</b>
                        <p>{{ paciente.sexo }}</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label color="dark">
                        <b>Documento</b>
                        <p>{{ paciente.documento }}</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label color="dark">
                        <b>Fecha de nacimiento</b>
                        <p>{{ paciente.fechaNacimiento | date: "dd/MM/yyyy" }}</p>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
