<ion-content>
    <ul class="andes-list" compact>
        <li class="numeros-item" (click)="toMap(location)" *ngFor="let location of points; let i = index" [attr.data-index]="i">
            <div class="andes-container">
                <ion-icon name="pin" class="left md"></ion-icon>
                <div class="andes-wraper">
                    <h2 class="andes-list-title capitalize">
                        {{location.nombre.toLowerCase()}}
                    </h2>
                </div>
                <span class="badge icon-action right danger" *ngIf="location.distance">{{location.distance}}Km</span>
                <span class="badge icon-action right danger" *ngIf="!location.distance">Calculando distancia ...</span>
            </div>
        </li>
    </ul>
</ion-content>
