<!--
  Generated template for the NavbarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-toolbar>
    <button *ngIf="menu" ion-button menuToggle right>
        <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
        <span class="nav-title">
            <ng-content></ng-content>
        </span>
    </ion-title>

    <ion-buttons end>
        <ng-content select="[buttons]"></ng-content>
    </ion-buttons>

</ion-toolbar>