<ion-header>
  <page-navbar [mostrarMenu]="mostrarMenu">
    <span nav-title> Agendas programadas </span>
  </page-navbar>
</ion-header>

<ion-content>

  <div *ngIf="!agendas">
    <h3> Buscando agendas... </h3>
  </div>

  <ion-item-group *ngIf="agendas?.length > 0" class="turno-list">
    <ion-item *ngFor="let agenda of agendas">
      <!-- <turno-item [agenda]="agenda" (onCancelEvent)="onCancelTurno($event)"></turno-item> -->

      {{agenda.horaInicio}}
    </ion-item>
  </ion-item-group>

  <div *ngIf="agendas?.length == 0" class="no-item">
    <h3> No tienes ninguna agenda programada </h3>
  </div>
</ion-content>
