<ion-header background="dark">
    <page-navbar [menu]="false">
        <span> Listado de pacientes </span>
    </page-navbar>
</ion-header>

<ion-content>
    <div class="no-item" *ngIf="false">
        <ads-icon icon="ball-triangle"></ads-icon>
    </div>

    <ul *ngIf="agenda.bloques?.length > 0" class="andes-list" compact>
        <li *ngFor="let turno of turnos">
            <div class="andes-container">
                <div class="andes-wraper">
                    <h2 class="andes-list-title">
                        {{turno.paciente.nombre}} {{turno.paciente.apellido}}
                    </h2>
                    <div class="andes-list-content">
                        <div class="columna">
                            <ion-icon name="md-time"></ion-icon>
                            <span class="andes-list-subtitle">{{turno.horaInicio | date: "hh:mm" }} -
                                {{turno.tipoPrestacion.term}}</span>
                        </div>
                        <span class="badge success" *ngIf="turno.asistencia === 'asistio'">Asistio</span>
                        <span class="badge danger" *ngIf="turno.esSobreturno">Sobreturno</span>

                    </div>
                </div>
                <!-- <ion-icon class="icon-action right xl" name="ios-arrow-forward-outline"></ion-icon> -->
            </div>
        </li>
    </ul>

    <div *ngIf="turnos?.length === 0" class="no-item">
        <h3> No hay pacientes en esta agenda </h3>
    </div>
</ion-content>
