<ion-header background="dark">
    <page-navbar [menu]="true">
        <span nav-title> Punto Saludable </span>
    </page-navbar>
</ion-header>

<ion-content>
    <div class="no-item" *ngIf="loading">
        <ion-spinner name="bubbles"></ion-spinner>
    </div>

    <ion-item-group class="numeros-list">
        <ion-item class="numeros-item" *ngFor="let noticia of noticias" (click)="openUrl(noticia)">
            <ion-thumbnail item-start *ngIf="noticia.images.length > 0">
                <img class="img-fit" src="{{noticia.images[0]}}">
            </ion-thumbnail>
            <h3 class="date-title"> {{formatDate(noticia)}} </h3>
            <h2> {{noticia.text}} </h2>
            <!-- <p>{{noticia.description}}</p> -->
        </ion-item>
    </ion-item-group>
</ion-content>
