<ion-header class="dark" translucent="true">
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="home" text=""></ion-back-button>
        <ion-title><small>Formulario terapéutico</small></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content class="dark">
    <ion-grid *ngIf="filtrados?.length === 0">

        <ion-row class="ion-align-items-center">
            <ion-col size="12">
                <ion-searchbar [(ngModel)]="nombre" placeholder="Buscar" (ionInput)="busquedaMedicamentos($event)"
                               (ionClear)="onCancel($event)"></ion-searchbar>
                <ion-list *ngIf="medicamentos">
                    <ion-item *ngFor="let medicamento of medicamentos">
                        <ion-chip color="light" *ngIf="medicamento" (click)="itemSelected(medicamento)">
                            {{ medicamento.descripcion }}
                        </ion-chip>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
            <ion-col size="12">
                <ion-chip color="primary" [disabled]="disableArbol" (click)="arbol()">
                    <ion-icon name="list-outline" color="light"></ion-icon>
                    <ion-label color="light">Lista completa</ion-label>
                </ion-chip>
            </ion-col>
        </ion-row>

        <ion-row class="item-container">
            <ion-col size="12">
                <ion-row>
                    <ion-col size="10">
                        <ion-item class="outline">
                            <ion-label color="light">Seleccione una Especialidad</ion-label>
                            <ion-select interface="action-sheet" okText="Aceptar" cancelText="Cancelar"
                                        [(ngModel)]="especialidadSelected" (ionChange)="onSelectEspecialidad()">
                                <ion-select-option *ngFor="let especialidad of especialidades" [value]="especialidad">
                                    {{especialidad.descripcion}}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                    <ion-col size="2" class="ion-align-self-center">
                        <ion-button (click)="limpiarEspecialidad()">
                            <ion-icon name="close-circle"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="12">
                <ion-item>
                    <ion-label color="light">¿Carro de Emergencia?</ion-label>
                    <ion-toggle class="outline" full interface="popover" [(ngModel)]="carroSelected"
                                (ionChange)="onSelectCarro()">
                        <ion-item value="true"></ion-item>
                        <ion-item value="false"></ion-item>
                    </ion-toggle>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="12" class="ion-align-self-center">
                <ion-row>
                    <ion-col size="10" class="ion-align-self-center">
                        <ion-item class="outline">
                            <ion-label color="light">Seleccione el Nivel de Complejidad</ion-label>
                            <ion-select interface="action-sheet" okText="Aceptar" cancelText="Cancelar"
                                        [(ngModel)]="nivelSelected" (ionChange)="onSelectComplejidad()">
                                <ion-select-option *ngFor="let nivel of niveles" [value]="nivel">
                                    {{ nivel }}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                    <ion-col size="2" class="ion-align-self-center">
                        <ion-button (click)="limpiarNivel()">
                            <ion-icon name="close-circle"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>

        <!-- Resultados -->
        <ion-item>
            <button expand="full" color="success" class="md rounded block success" (click)="buscar()"
                    [disabled]="!especialidadSelected">
                Buscar
            </button>
        </ion-item>

    </ion-grid>

    <div *ngIf="filtrados?.length > 0" class="ion-padding">
        <ul class="andes-list">
            <li class="" *ngFor="let filtrado of filtrados" (click)="itemSelected(filtrado)">
                <div class="andes-container">
                    <div class="andes-wraper">
                        <div class="badge primary" *ngIf="filtrado.concepto?.term.split(', ').length >= 2">
                            {{ filtrado.concepto.term.split(', ')[1] }}</div>
                        <h2 class="andes-list-title" *ngIf="filtrado.concepto?.term.split(', ').length >= 1">
                            {{ filtrado.concepto.term.split(', ')[0] }}</h2>
                        <div class="andes-list-content">
                            <span class="andes-list-subtitle"
                                  *ngIf="filtrado.concepto?.term.split(', ').length >= 4">{{ filtrado.concepto.term.split(', ')[3] }}</span>
                            <span class="andes-list-subfix"
                                  *ngIf="filtrado.concepto?.term.split(', ').length >= 3">{{ filtrado.concepto.term.split(', ')[2] }}</span>
                        </div>
                    </div>
                    <ion-icon class="icon-action right xl icon icon-md ion-chevron-forward-outline"
                              name="chevron-forward-outline" role="img" aria-label="arrow forward-outline"
                              ng-reflect-name="chevron-forward-outline"></ion-icon>
                </div>
            </li>
        </ul>
        <!-- Volver -->
        <ion-item>
            <button expand="full" color="danger" class="md rounded block danger" (click)="volver()">Volver</button>
        </ion-item>
    </div>
</ion-content>