<div class='popOver'>
    <ion-list>
        <ng-container *ngIf='(esDirector >= 0 || esJefeZona >= 0 ) && origen === "provincia"'>
            <ion-item>
                <ion-label color="dark" (click)='close("monitoreo")'>Enviar mail</ion-label>
            </ion-item>
        </ng-container>
        <ng-container *ngIf='(esDirector >= 0 || esJefeZona >= 0 ) && origen !== "provincia"'>
            <ion-item *ngIf='cargaMinuta'>
                <ion-label color="dark" (click)='close("nuevaMinuta")'>Nueva Minuta</ion-label>
            </ion-item>
            <ion-item>
                <ion-label color="dark" (click)='close("listadoMinutas")'>Listado Minutas</ion-label>
            </ion-item>
            <ion-item>
                <ion-label color="dark" (click)='close("listado")'>Listado Problemas</ion-label>
            </ion-item>
            <ion-item>
                <ion-label color="dark" (click)='close("monitoreo")'>Enviar mail</ion-label>
            </ion-item>
        </ng-container>

        <ng-container *ngIf='esDirector < 0 && esJefeZona < 0'>
            <ion-item *ngIf='cargaMinuta'>
                <ion-label color="dark" (click)='close("nuevaMinuta")'>Nueva Minuta</ion-label>
            </ion-item>
            <ion-item>
                <ion-label color="dark" (click)='close("listadoMinutas")'>Listado Minutas</ion-label>
            </ion-item>
            <ion-item>
                <ion-label color="dark" (click)='close("listado")'>Listado Problemas</ion-label>
            </ion-item>
            <ion-item>
                <ion-label color="dark" (click)='close("monitoreo")'>Enviar mail</ion-label>
            </ion-item>
        </ng-container>
    </ion-list>

</div>