<ion-header class="dark">
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="home" text=""></ion-back-button>
        <ion-title><small>COMPROBANTE DE PAGO </small></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="authProvider.user" class="dark" padding>

    <!-- VISTA DE CONFIRMACION FINAL DEL COMPROBANTE -->
    <ng-container *ngIf="documentoPreview && !editar && !inProgress" (click)="editarFoto()">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <p>Confirme si el archivo es correcto. Si no es asi, puede editarlo.</p>
                </ion-col>
            </ion-row>

            <img [src]="documentoPreview" id="{{ fileToDB?.ext === 'pdf' ? 'pdf-vista-previa' : 'imagen-previa' }}" />
            <p *ngIf="fileToDB?.ext === 'pdf'" class="ion-text-center mb-1">{{ documentoNombre }}</p>

            <ion-row>
                <ion-col col-6>
                    <ion-button color="warning" expand="block" (click)="editarFoto()">
                        Editar
                    </ion-button>
                </ion-col>
                <ion-col col-6>
                    <ion-button color="success" expand="block" (click)="confirmarComprobante()">
                        Confirmar
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ng-container>

    <div class="no-item" *ngIf="inProgress">
        <ads-icon icon="ball-triangle"></ads-icon>
    </div>

    <!-- VISTA EDICION -->
    <ng-container *ngIf="editar">
        <!-- ADJUNTAR COMPROBANTE -->
        <ion-grid>
            <ion-row>
                <ion-col>
                    <p>Presione el botón <b>EXAMINAR</b> para adjuntar el comprobante de pago desde su celular o
                        <b>TOMAR
                            FOTO</b> para encender la cámara.
                    </p>
                </ion-col>
            </ion-row>
        </ion-grid>

        <div class="content-title">
            <button class="outline circular">
                <ion-icon class="content-icon" name="cloud-upload-outline"></ion-icon>
            </button>
            <input id="fileupload" type="file" (change)="changeListener($event)" style="display:none;" #upload>
        </div>

        <!-- TOMAR FOTO -->
        <ion-grid>
            <ion-row>
                <ion-col col-6>
                    <ion-button color="secondary" expand="block" (click)="upload.click()">
                        Examinar
                    </ion-button>
                </ion-col>
                <ion-col col-6>
                    <ion-button color="primary" expand="block" (click)="hacerFoto()">
                        <ion-icon name="camera"></ion-icon>Tomar foto
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ng-container>
</ion-content>