.boton-confirmar {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.boton-editar {
    margin-bottom: 0.7rem;
}

.titulo-datos {
    margin-top: 1.5rem;
    margin-left: 0.8rem;
    padding-left: 0;
}