<ion-header class="dark">
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="home" text=""></ion-back-button>
        <ion-title><small> DATOS PROFESIONAL</small></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="authProvider.user" class="dark" datos-profesional>
    <div class="no-item" *ngIf="inProgress">
        <ads-icon icon="ball-triangle"></ads-icon>
    </div>
    <form *ngIf="validado && !inProgress">
        <ion-list>
            <ion-title class="titulo-datos">DATOS BÁSICOS</ion-title>
            <ion-grid>
                <ion-row>
                    <ion-col col-6>
                        <ion-item lines="none">
                            <ion-label color="secondary" position="stacked">Apellido</ion-label>
                            <p>{{datos.apellido}}</p>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item lines="none">
                            <ion-label color="secondary" position="stacked">Nombre</ion-label>
                            <p>{{datos.nombre}}</p>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid>
                <ion-row>
                    <ion-col col-6>
                        <ion-item lines="none">
                            <ion-label color="secondary" position="stacked">Documento</ion-label>
                            <p>{{datos.documento}}</p>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item lines="none">
                            <ion-label color="secondary" position="stacked">Sexo</ion-label>
                            <p>{{datos.sexo}}</p>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-title class="titulo-datos">DOMICILIO LEGAL</ion-title>
            <ion-grid>
                <ion-row>
                    <ion-col col-6>
                        <ion-item lines="none">
                            <ion-label color="secondary" position="stacked">Dirección</ion-label>
                            <ion-textarea readonly="true" [(ngModel)]="domicilioLegal.valor" name="direccionLegal"
                                          id="direccionLegal">
                            </ion-textarea>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item lines="none">
                            <ion-label color="secondary" position="stacked">Provincia</ion-label>
                            <ion-textarea readonly="true" [(ngModel)]="domicilioLegal.ubicacion.provincia.nombre"
                                          name="provinciaLegal" id="provinciaLegal">
                            </ion-textarea>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid>
                <ion-row>
                    <ion-col col-6>
                        <ion-item lines="none">
                            <ion-label color="secondary" position="stacked">Localidad</ion-label>
                            <ion-textarea readonly="true" [(ngModel)]="domicilioLegal.ubicacion.localidad.nombre"
                                          name="localidadLegal" id="localidadLegal">
                            </ion-textarea>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item lines="none">
                            <ion-label color="secondary" position="stacked">Código Postal</ion-label>
                            <ion-textarea readonly="true" [(ngModel)]="domicilioLegal.codigoPostal"
                                          name="codigoPostalLegal" id="codigoPostalLegal">
                            </ion-textarea>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-title class="titulo-datos">
                DOMICILIO REAL
                <ion-button *ngIf="!editarDomReal" class="boton-editar" color="warning"
                            (click)="editarDomicilio('real')" size="small">Editar
                </ion-button>
            </ion-title>

            <ion-grid *ngIf="editarDomReal">
                <ion-item lines="none">
                    <ion-label color="secondary">Dirección</ion-label>
                    <ion-input inputmode="text" [autofocus]="true" [(ngModel)]="direccionReal" name="direccionReal"
                               id="direccionReal" placeholder="Dirección">
                    </ion-input>
                </ion-item>
                <ion-item lines="none">
                    <ion-label color="secondary">Provincia</ion-label>
                    <ion-select (ionChange)="onSelectProvincia('real')" [(ngModel)]="provinciaReal"
                                name="provinciaReal">
                        <ion-select-option *ngFor="let provincia of provincias" [value]="provincia">
                            {{provincia.nombre}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item lines="none">
                    <ion-label color="secondary">Localidad</ion-label>
                    <ion-select (ionChange)="onSelectLocalidad('real')" [(ngModel)]="localidadReal" name="localidadReal"
                                [selectedText]="localidadRealName" placeholder="Seleccionar localidad">
                        <ion-select-option *ngFor="let localidad of localidades" [value]="localidad">
                            {{localidad.nombre}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item lines="none">
                    <ion-label color="secondary">Código Postal</ion-label>
                    <ion-input inputmode="text" [(ngModel)]="codigoPostalReal" name="codigoPostalReal"
                               id="codigoPostalReal" placeholder="Código Postal">
                    </ion-input>
                </ion-item>
                <ion-row>
                    <ion-col col-6>
                        <ion-button color="danger" expand="block" (click)="cancelarEditar('real')">
                            Cancelar
                        </ion-button>
                    </ion-col>
                    <ion-col col-6>
                        <ion-button color="success" expand="block" (click)="guardarDomicilio('real')">
                            Guardar
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-title class="titulo-datos no-margin-top">
                DOMICILIO PROFESIONAL
                <ion-button *ngIf="!editarDomProfesional" class="boton-editar" color="warning"
                            (click)="editarDomicilio('profesional')" size="small">Editar</ion-button>
            </ion-title>
            <div *ngIf="editarDomProfesional">
                <ion-item lines="none">
                    <ion-label color="secondary">Dirección</ion-label>
                    <ion-input [autofocus]="true" inputmode="text" [(ngModel)]="domicilioProfesional.valor"
                               name="direccionProfesional" id="direccionProfesional" placeholder="Dirección">
                    </ion-input>
                </ion-item>
                <ion-item lines="none">
                    <ion-label color="secondary">Provincia</ion-label>
                    <ion-select (ionChange)="onSelectProvincia('profesional')" [(ngModel)]="provinciaProfesional"
                                name="provinciaProfesional">
                        <ion-select-option *ngFor="let provincia of provincias" [value]="provincia">
                            {{provincia.nombre}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item lines="none">
                    <ion-label color="secondary">Localidad</ion-label>
                    <ion-select (ionChange)="onSelectLocalidad('profesional')" [(ngModel)]="localidadProfesional"
                                name="localidadProfesional" [selectedText]="localidadProfesionalName"
                                placeholder="Seleccionar localidad">
                        <ion-select-option *ngFor="let localidad of localidades" [value]="localidad">
                            {{localidad.nombre}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item lines="none">
                    <ion-label color="secondary">Código Postal</ion-label>
                    <ion-input inputmode="text" [(ngModel)]="codigoPostalProfesional" name="codigoPostaProfesional"
                               id="codigoPostalProfesional" placeholder="Código Postal">
                    </ion-input>
                </ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-col col-6>
                            <ion-button color="danger" expand="block" (click)="cancelarEditar('profesional')">
                                Cancelar
                            </ion-button>
                        </ion-col>
                        <ion-col col-6>
                            <ion-button color="success" expand="block" (click)="guardarDomicilio('profesional')">
                                Guardar
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </ion-list>
        <ion-button *ngIf="!editarDomReal && !editarDomLegal && !editarDomProfesional" class="boton-confirmar"
                    color="success" expand="block" [class.disabled]="inProgress" [disabled]="inProgress"
                    (click)="confirmarDatos()">Confirmar datos
        </ion-button>
    </form>
</ion-content>