<ion-header class="dark">
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="home" text=""></ion-back-button>
        <ion-title><small>FIRMA PROFESIONAL </small></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="authProvider.user" class="dark" padding>
    <div class="no-item" *ngIf="inProgress">
        <ads-icon icon="ball-triangle"></ads-icon>
    </div>

    <ng-container *ngIf="!inProgress">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <p>Introduzca su firma deslizando el dedo por la pantalla dentro del recuadro blanco.</p>
                </ion-col>
            </ion-row>
        </ion-grid>

        <canvas #canvas name="signature" width="400" height="200" id="signature-pad"></canvas>

        <ion-grid>
            <ion-row>
                <ion-col col-6>
                    <ion-button color="secondary" expand="block" (click)="clearPad()">
                        Borrar
                    </ion-button>
                </ion-col>
                <ion-col col-6>
                    <ion-button color="success" expand="block" [disabled]="disabledGuardar" (click)="confirmarFirma()">
                        Confirmar
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ng-container>
</ion-content>