#imagen-previa {
    border-radius: 50%;
    width: 200px !important;
    height: 200px !important;
    display: block;
    margin: 1rem auto;

}

.content-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}