<ion-header class="dark">
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="home" text=""></ion-back-button>
        <ion-title><small> MIS MATRICULAS </small></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="authProvider.user" class="dark" mis-matriculas-detalle>
    <div class="no-item" *ngIf="inProgress">
        <ads-icon icon="ball-triangle"></ads-icon>
    </div>
    <ng-container *ngIf="profesional && formacionGradoSelected">
        <ion-card *ngIf="!inProgress">
            <ion-card-header>
                <ion-avatar>
                    <ion-icon name="andes-profesional" color="primary" class="icono-info"></ion-icon>
                </ion-avatar>
                <ion-card-subtitle class="ion-text-uppercase" color="dark">MIS DATOS DE PROFESIONAL</ion-card-subtitle>
                <ion-card-title class="ion-text-uppercase" color="dark">{{profesional.apellido}}, {{profesional.nombre}}
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ul class="andes-list" compact>
                    <li>
                        <div class="andes-container">
                            <div class="andes-wraper">
                                <div class="andes-list-content">
                                    <span class="badge badge-{{ formacionGradoSelected | estadoMatriculaType }}">
                                        {{ formacionGradoSelected | estadoMatriculaLabel }}
                                    </span>
                                </div>
                                <div class="andes-list-content">
                                    <div class="columna qr-matricula">
                                        <qrcode #parent id="parent" [qrdata]="qrCodeStr" [allowEmptyString]="true"
                                                [width]="300" [cssClass]="'coolQRCode'" [colorDark]="'#000000ff'"
                                                [colorLight]="'#ffffffff'" [errorCorrectionLevel]="'M'"
                                                [title]="'Matrícula Profesional'" [width]="100">
                                        </qrcode>
                                    </div>
                                    <div class="columna informacion-matricula">
                                        <span
                                              class="andes-list-title">{{formacionGradoSelected.profesion.nombre}}</span>
                                        <span class="andes-list-subtitle">N° matrícula:
                                            {{formacionGradoSelected.matriculacion[formacionGradoSelected.matriculacion?.length-1].matriculaNumero
                                            }}</span>
                                        <span class="andes-list-subtitle">Vencimiento:
                                            {{formacionGradoSelected.matriculacion[formacionGradoSelected.matriculacion?.length-1].fin
                                            |
                                            date:'dd/MM/yyyy'}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </ion-card-content>
        </ion-card>

        <ion-row *ngIf="formacionGradoSelected.renovacionOnline?.estado === 'rechazada'">
            <ion-col>
                <ion-item lines="none">
                    <ion-label class="ion-text-uppercase titulo-motivo" position="stacked">Motivo de rechazo</ion-label>
                    <p class="descripcion-rechazo">{{ formacionGradoSelected.renovacionOnline.descripcion }}.
                        <ng-container>
                            <hr>
                        </ng-container>
                        Puede volver a iniciar el proceso de renovación nuevamente.
                    </p>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-list *ngIf="inverseMapEstado(formacionGradoSelected | estadoMatriculaLabel) as estadoMatricula">
            <ion-item *ngIf="(estadoMatricula === 'vigente' && esPeriodoRevalidacion()) || estadoMatricula === 'vencida' || estadoMatricula === 'rechazada'"
                      lines="none">
                <button class="md rounded block success" (click)="irInstrucciones()">Renovar Matrícula</button>
            </ion-item>
            <ion-item *ngIf="estadoMatricula === 'papelesVerificados' || estadoMatricula === 'enTramite' || estadoMatricula === 'suspendida'"
                      lines="none">
                <button class="md rounded block secondary">Renovar Matrícula</button>
            </ion-item>
            <ion-item *ngIf="estadoMatricula === 'vigente'" lines="none">
                <button class="md rounded block info" (click)="descargarCredencial()">Descargar pdf</button>
            </ion-item>
        </ion-list>
    </ng-container>
</ion-content>