<ion-header class="dark" translucent="true">
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="home" text=""></ion-back-button>
        <ion-title *ngIf="mapa$ | async"><small>{{ titulo }}</small></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="dark">
    <ion-router-outlet>
    </ion-router-outlet>
    <ion-tabs color="light">
        <!-- Tab bar -->
        <ion-tab-bar slot="bottom">
            <ion-tab-button (click)="openTab('mapa')" selected>
                <ion-icon name="navigate-circle-outline"></ion-icon>
            </ion-tab-button>
            <ion-tab-button *ngIf="tipo === 'centro-salud'" (click)="openTab('lista-cercanos')">
                <ion-icon name="list"></ion-icon>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>