<ion-header class="dark" translucent="true">
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="home" text=""></ion-back-button>
        <ion-title><small>Mis Turnos</small></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="dark" [class.familiar]="familiar">
    <ul class="andes-list">
        <li (click)="buscarPrestacion()">
            <div class="andes-container">
                <div>
                    <h4>
                        <ion-icon name="andes-turno"></ion-icon>
                        <ion-icon name="file"></ion-icon> Sacar turno
                    </h4>
                </div>
            </div>
        </li>
        <li (click)="abrirListado()">
            <div class="andes-container">
                <div>
                    <h4>
                        <ion-icon name="andes-turno"></ion-icon>
                        <ion-icon name="file"></ion-icon> Listado de turnos
                    </h4>
                </div>
            </div>
        </li>
        <li (click)="abrirHistorial()">
            <div class="andes-container">
                <h4>
                    <ion-icon name="andes-agendas"></ion-icon>
                    <ion-icon name="file" class=""></ion-icon>Historial de turnos
                </h4>
            </div>
        </li>
    </ul>
</ion-content>