<ion-menu side="end" menuId="first" contentId="main-content">
  <ion-content>
    <ion-list>
      <ion-item (click)="abrirHistorial()">Mi historial de turnos</ion-item>
      <ion-item (click)="onBugReport()">Reportar un problema</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Mis Turnos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div *ngIf="!turnos" class="no-item">
      bolitas
    </div>
  
    <ul class="andes-list" *ngIf="turnos?.length > 0">
        <li *ngFor="let turno of turnos">
            <app-turno-item [turno]="turno" (onCancelEvent)="onCancelTurno($event)" (onClickEvent)="onClickEvent($event)">
            </app-turno-item>
        </li>
    </ul>
  
    <div *ngIf="turnos?.length === 0" class="icono-text-container no-item">
        <ion-icon class="icono-text lg outline" name="andes-turno"></ion-icon>
        <h3> No tienes ningún turno programado </h3>
    </div>
  
    <div *ngIf="habilitarTurnos">
      <button class="md rounded block success" (click)="buscarPrestacion()">Solicitar Turno</button>
    </div>
  </ion-content>
</div>


