<ion-header background="dark" translucent="true">
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="home" text=""></ion-back-button>
        <img class="ion-padding-start" slot="start" src="../../assets/svg/app-logo-blanco.svg" width="42" height="42" />
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content background="dark">

    <div *ngIf="!organizaciones" class="no-item">
        <!-- <ads-icon icon="ball-triangle"></ads-icon> -->
        <!-- bolitas -->
    </div>

    <ion-list *ngIf="organizaciones?.length > 0" class="turno-list" translucent="true">
        <ion-list-header>
            Seleccione su organización
        </ion-list-header>
        <ion-item button detail color="primary" *ngFor="let organizacion of organizaciones"
                  (click)="onOrganizacionClick(organizacion)">
            <ion-label>
                <small>{{organizacion.nombre}}</small>
            </ion-label>
        </ion-item>
    </ion-list>

    <div *ngIf="organizaciones?.length == 0" class="no-item">
        <h3> No tienes ningún efector asignado</h3>
    </div>
</ion-content>