<ion-header class="dark" translucent="true">
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="home" text=""></ion-back-button>
        <ion-title><small>Seleccione su organización</small></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="dark">

    <div *ngIf="!organizaciones" class="no-item">
        <ads-icon icon="ball-triangle"></ads-icon>
    </div>

    <ion-list *ngIf="organizaciones?.length > 0" class="turno-list" translucent="true">
        <ion-item button detail color="primary" *ngFor="let organizacion of organizaciones"
                  (click)="onOrganizacionClick(organizacion)">
            <ion-label color="dark">
                <small>{{organizacion.nombre}}</small>
            </ion-label>
        </ion-item>
    </ion-list>

    <div *ngIf="organizaciones?.length == 0" class="no-item">
        <h3 color="dark"> No tienes ningún efector asignado</h3>
    </div>
</ion-content>
