<ion-header background="dark">
    <page-navbar>
        <span nav-title>Formulario Terapeutico </span>
    </page-navbar>
</ion-header>
<ion-content form-terapeutico *ngIf="!filtrados?.length > 0">
    <!-- <form novalidate (ngSubmit)="onSubmit(formRegistro)" [formGroup]="formRegistro"> -->
    <!-- <form> -->
    <ion-row class="search-container">
        <ion-col col-10>
            <!-- <ion-input [(ngModel)]="nombre" placeholder="Buscar" type="text" (ionClear)="onCancel($event)" ionic-input-clearable ></ion-input> -->
            <ion-searchbar [(ngModel)]="nombre" placeholder="Buscar" (ionClear)="onCancel($event)"></ion-searchbar>
        </ion-col>
        <ion-col col-1 class="pt-1">
            <br>
            <button ion-button icon-only class="btnarbol" (click)="arbol()">
                <ion-icon name="git-network"></ion-icon>
            </button>
        </ion-col>
    </ion-row>
    <ion-list padding>
            <ion-row class="input-container">
                <ion-col col-12>
                    <ion-label>Especialidad</ion-label>
                    <ion-select class="outline" full interface="popover" [(ngModel)]="especialidadSelected" (ionChange)="onSelectEspecialidad()">
                        <ion-option *ngFor="let especialidad of especialidades" [value]="especialidad">
                            {{especialidad.descripcion}}
                        </ion-option>
                    </ion-select>
                </ion-col>
            </ion-row>
        <ion-row class="input-container" nowrap justify-content-between align-items-center>
            <ion-col col-6>
                <ion-label>Carro Emergencia</ion-label>
            </ion-col>
            <ion-col>
                <ion-label>NO</ion-label>
            </ion-col>
            <ion-col>
                <ion-toggle class="outline" full interface="popover" [(ngModel)]="carroSelected" (ionChange)="onSelectCarro()">
                    <ion-option value="true"></ion-option>
                    <ion-option value="false"></ion-option>
                </ion-toggle>
            </ion-col>
            <ion-col>
                <ion-label>SI</ion-label>
            </ion-col>
            <!-- <ion-select class="outline" full interface="popover" [(ngModel)]="carroSelected" (ionChange)="onSelectCarro()">
                <ion-option value="true">SI</ion-option>
                <ion-option value="false">NO</ion-option>
            </ion-select> -->
        </ion-row>
        <ion-row class="input-container" justify-content-center align-items-center>
            <ion-col col-5 align-self-center>
                <ion-label>Nivel de Complejidad</ion-label>
            </ion-col>
            <ion-col col-7 align-self-center>
                <ion-select class="outline" full interface="popover" [(ngModel)]="complejidadSelected" (ionChange)="onSelectComplejidad()">
                    <ion-option *ngFor="let nivel of niveles" [value]="nivel">
                        {{nivel}}
                    </ion-option>
                </ion-select>
            </ion-col>
        </ion-row>
        
        <!-- Resultados -->
        <div>
            <button class="md rounded block success" (click)="buscar()">Buscar</button>
        </div>
    </ion-list>
</ion-content>

<!-- </form> -->
<ion-content resultados *ngIf="filtrados?.length > 0">
    <ul class="andes-list">
        <li class="" *ngFor="let filtrado of filtrados" (click)="itemSelected(filtrado)">
            <div class="andes-container">
                <div class="andes-wraper">
                    <div class="badge primary" *ngIf="filtrado.concepto?.term.split(', ').length >= 2">{{ filtrado.concepto.term.split(', ')[1] }}</div>
                    <h2 class="andes-list-title" *ngIf="filtrado.concepto?.term.split(', ').length >= 1">{{ filtrado.concepto.term.split(', ')[0] }}</h2>
                    <div class="andes-list-content">
                        <span class="andes-list-subtitle" *ngIf="filtrado.concepto?.term.split(', ').length >= 4">{{ filtrado.concepto.term.split(', ')[3] }}</span>
                        <span class="andes-list-subfix" *ngIf="filtrado.concepto?.term.split(', ').length >= 3">{{ filtrado.concepto.term.split(', ')[2] }}</span>
                    </div>
                </div>
                <ion-icon class="icon-action right xl icon icon-md ion-ios-arrow-forward-outline" name="ios-arrow-forward-outline" role="img" aria-label="arrow forward-outline" ng-reflect-name="ios-arrow-forward-outline"></ion-icon>
            </div>
        </li>
    </ul>
<!-- Volver -->
    <button ion-button icon-only class="md rounded block danger" (click)="volver()">Volver</button>
</ion-content>

