<!-- <ion-header background="dark">
    <ion-navbar>
        <ion-title>
            {{titulo}}
        </ion-title>

    </ion-navbar>
</ion-header>
<ion-content padding form-terapeutico>

    <ion-list>
        <ion-item *ngFor="let indice of indices" (click)="openSubarbol(indice)">
            <ion-icon name="ios-arrow-forward"></ion-icon>
            {{ indice.descripcion }}
        </ion-item>
    </ion-list>

</ion-content> -->

<ion-header background="dark">
            <page-navbar>
                <span class="nav-title">{{titulo}}</span>
            </page-navbar>
        </ion-header>
    <ion-content form-terapeutico>
    <ads-accordion-container>
        <div header *ngFor="let indice of indices">
            <arbolItem [indice]="indice"></arbolItem>
        </div>
    </ads-accordion-container>

        <!-- <ads-accordion-container>
            <ads-accordion *ngFor="let indice of indices">
                <Label header (click)="openSubarbol(indice)">
                <ion-icon name="ios-arrow-forward"></ion-icon>
                {{ indice.descripcion }}
                </Label>
                <span content >

                </span>
            </ads-accordion>
        </ads-accordion-container> -->
    
    </ion-content>