<ion-header background="dark">
    <page-navbar [menu]="false">
        <span nav-title> Mi cuenta </span>
    </page-navbar>
</ion-header>

<ion-content padding background="dark">
    <div class="cabecera">
        <div class="title-container">
            <h2 class="welcome-title">Datos de acceso</h2>
            <h4 class="welcome-subtitle"> Advertencia: cualquier cambio en los datos afectará tu forma de acceder a la aplicación. </h4>
        </div>
    </div>
    <!-- <div class="alert">
        Advertencia: cualquier cambio en los datos afectará tu forma de acceder a la aplicación.
    </div> -->
    <div class="contenido">
        <div class="datos">
            <!-- <ion-item> -->
            <input class="md rounded block outline" placeholder="Teléfono" [(ngModel)]="telefono" type="number" />

            <!-- <ion-label floating>Teléfono</ion-label>
        <ion-input [(ngModel)]="telefono" type="number"></ion-input> -->
            <!-- </ion-item> -->

            <!-- <ion-item> -->
            <input class="md rounded block outline" placeholder="Correo Electrónico" [(ngModel)]="email" type="email" autoCapitalize="none"
            />
            <!-- <ion-label floating>Correo Electrónico</ion-label>
                <ion-input [(ngModel)]="email" type="email"></ion-input> -->
            <!-- </ion-item> -->

            <!--
      <div style="color: #ea6153;" *ngIf="errors.email">
        El e-mail ya se encuentra registrado.
      </div>
      -->
            <!-- <h3> Cambio de contraseña </h3> -->
            <div *ngIf="expand">
                <input class="md rounded block outline" placeholder="Contraseña actual" [(ngModel)]="old_password" type="password" autoCapitalize="none"
                />

                <input class="md rounded block outline" placeholder="Nueva contraseña" [(ngModel)]="password" type="password" autoCapitalize="none"
                />

                <input class="md rounded block outline" placeholder="Repita contraseña" [(ngModel)]="password2" type="password" autoCapitalize="none"
                />

                <!-- <ion-item>
                    <ion-label floating>Contraseña actual</ion-label>
                    <ion-input type="password" [(ngModel)]="old_password"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label floating>Nueva contraseña</ion-label>
                    <ion-input type="password" [(ngModel)]="password"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label floating>Repita contraseña</ion-label>
                    <ion-input type="password" [(ngModel)]="password2"></ion-input>
                </ion-item> -->
            </div>
        </div>
        <div class="">
            <button class="md rounded block success" [disabled]="loading" (click)="onSave()"> Grabar </button>

            <button class="md rounded block danger" (click)="expand = true" *ngIf="!expand"> Cambiar contraseña </button>

            <!-- <button ion-button full color="secondary" type="button" [disabled]="inProgress" (click)="onSave()"> Grabar </button>
      <button ion-button full icon-start color="warning" (click)="expand = true" *ngIf="!expand">
        <ion-icon name="alert"></ion-icon> &nbsp;
        Cambiar contraseña
      </button> -->
        </div>
    </div>
</ion-content>
