/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Variables Andes */
@import "./theme/andes_variables.scss";
@import "./theme/variables.scss";
@import "./theme/main.scss";
@import "./theme/andes-icons.scss";

// Estilos App Gestion
// Hoja de estilos que se usa en el componente gestion.page
@import "./app/pages/gestion/gestion.page.scss";
// Hoja de estilo que se usa en los componentes mapa-detalle, listado-detalle, listado, acciones
@import "./app/pages/gestion/mapa-detalle/mapa-detalle.scss";

/* Globales, theming de componentes */
.md,
.ios {
    ion-menu {
        ion-item {
            --color-hover: (--ion-color-light);
            color: #000;
            ion-label {
                color: var(--ion-color-dark);
            }
        }
    }

    ion-item-divider,
    ion-item::part(native) {
        background: transparent;
        ion-label {
            --color: var(--ion-color-dark);
        }
    }

    ion-label {
        white-space: normal !important;
    }

    .list-header-inner {
        color: var(--ion-text-color);
    }

    .list-md {
        color: var(--ion-text-color);
        background: var(--ion-item-background);
    }

    ion-header {
        ion-toolbar {
            --ion-text-color: var(--ion-color-primary-contrast);
            --opacity: 0;

            ion-back-button {
                color: var(--ion-color-primary-contrast);
            }

            ion-title {
                color: var(--ion-color-primary-contrast);
            }

            ion-menu-button {
                color: var(--ion-color-primary-contrast);
            }
        }
    }

    ion-footer {
        ion-toolbar {
            --background: transparent;
        }
    }

    ion-menu {
        ion-toolbar {
            ion-title {
                --color: var(--ion-color-primary);
            }
            --opacity: 0;
        }
        ion-header {
            background: var(--ion-color-primary-contrast);
            ion-title {
                color: var(--ion-color-primary);
            }
        }
        ion-content {
            background: var(--ion-color-dark);
            ion-icon {
                color: var(--ion-color-primary);
            }
        }
    }

    ion-content::part(scroll) {
        .item-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
        }
    }

    ion-content {
        --padding-start: 0.5rem;
        --padding-end: 0.5rem;
        .home {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }
    }

    ion-button::part(native) {
        --border-radius: 25px;
    }

    // Searchbar
    ion-searchbar {
        .searchbar-input-container {
            border-radius: 25px;
        }
    }

    ion-picker-column {
        --ion-text-color: var(--ion-color-light);
        .picker-opt {
            color: var(--ion-text-color);
        }
    }

    ion-datetime::part(text) {
        color: (--ion-color-light);
    }

    ion-alert {
        --ion-text-color: var(--ion-color-medium);
    }

    ion-select {
        color: var(--ion-color-primary-contrast);
    }
}
