<ion-header class="dark" translucent="true">
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="home" text=""></ion-back-button>
        <ion-title><small>Punto saludable</small></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="no-item" *ngIf="loading">
        <ads-icon icon="ball-triangle"></ads-icon>
    </div>
    <ion-item-group class="numeros-list">
        <ion-item class="numeros-item" *ngFor="let noticia of noticias" (click)="openUrl(noticia)">
            <ion-thumbnail slot="start" *ngIf="noticia.images.length > 0">
                <img class="img-fit" src="{{ noticia.images[0] }}">
            </ion-thumbnail>
            <ion-label>
                <h6 class="date-title"> {{ noticia.fecha | date: 'd \'de\' MMMM \'de\' y' }} </h6>
                <p> {{ noticia.text }} </p>
            </ion-label>
        </ion-item>
    </ion-item-group>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>