<div  *ngIf="activePage && activePage.tipo == 'detalleEfector'">

    <h4 class='tituloDetalleEfector'>{{dataPage.descripcion}}</h4>



    <ion-grid>
        <div class='estadisticas' *ngIf="ejeActual ">
            <h4>{{ejeActual.titulo}} <ion-icon ios="ios-close" class="btnCerrar"  md="md-close" (click)='ejeActual = null'></ion-icon>
            </h4>
            <ion-grid>
                <ion-row>
                    <ion-col *ngFor="let accion of ejeActual.acciones">
                        <span class='valorEstadistica'>{{accion.consulta}}</span> <br>
                        <span class='tituloEstadistica'>{{accion.titulo}} </span>
                        <br>
                        <hr>
                    </ion-col>

                </ion-row>
            </ion-grid>
        </div>

        <div class='estadisticas' *ngIf="activePage.showEstadisticas ">
            <h4>{{activePage.titulo}} <ion-icon ios="ios-close" md="md-close" (click)='ejeActual = null'></ion-icon>
            </h4>

        </div>
        <!-- <div *ngIf="!ejeActual.acciones">
                <span>Sin datos</span>
            </div> -->
            <ion-row class="slideMenu" *ngIf="activePage.acciones && activePage.acciones.length">
                <ion-slides slidesPerView="4.5">
                    <ion-slide *ngFor=" let accion of activePageCopy.acciones">
                        <!-- <img src="assets/svg/andes-paciente-in.svg"> -->
                        <div (click)="cargarValores(accion)">
                            <div class="iconAndes iconAndes-{{accion.icono}}" ></div>
                            <p style="font-size: 9px;">{{accion.titulo}}</p>
                        </div>
                   
                    </ion-slide>
                </ion-slides>
    
        </ion-row>
    </ion-grid>












</div>
