<ion-content background="dark" *ngIf="activePage && activePage.tipo == 'detalleEfector'">

    <ion-grid>
        <ion-row>
            <ion-col>
                <h4>Efector: {{dataPage.descripcion}}</h4>
            </ion-col>
        </ion-row>
    </ion-grid>



    <ion-grid>
        <div class='estadisticas' *ngIf="ejeActual ">
            <h4>{{ejeActual.titulo}} <ion-icon ios="ios-close" md="md-close" (click)='ejeActual = null'></ion-icon>
            </h4>
            <ul class="andes-list" *ngIf="ejeActual.acciones && ejeActual.acciones.length" compact>
                <li *ngFor="let accion of ejeActual.acciones">
                    <div>{{accion.titulo}}: {{accion.consulta}}</div>
                </li>
            </ul>
        </div>

        <div class='estadisticas' *ngIf="activePage.showEstadisticas ">
            <h4>{{activePage.titulo}} <ion-icon ios="ios-close" md="md-close" (click)='ejeActual = null'></ion-icon>
            </h4>

        </div>
        <!-- <div *ngIf="!ejeActual.acciones">
                <span>Sin datos</span>
            </div> -->
        <ion-scroll scrollX="true" class='accionScroll'>
            <ion-col col-33 *ngFor=" let accion of activePageCopy.acciones">
                <div class="card card-1" (click)="cargarValores(accion)">
                    <img src="assets/svg/andes-paciente-in.svg">
                    <p class='textoIconos'>{{accion.titulo}}</p>
                </div>
            </ion-col>

        </ion-scroll>
    </ion-grid>












</ion-content>
