<div *ngIf="activePage && activePage.tipo == 'listado'">


    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-list *ngIf="listaItems && listaItems.length">
                    <ion-item *ngFor="let item of listaItems" (click)="cambiarPagina(activePage.goto,item)">
                        <ion-label>{{item.Localidad}}<ion-icon class="icon-action arrowLista" name="ios-arrow-forward-outline"></ion-icon>
                        </ion-label>

                    </ion-item>
                </ion-list>
                <!-- <ion-list>
                    <ion-item (click)="cambiarPagina(activePage.goto,item)">
                        <ion-label>Pokémon Yellow <ion-icon class="icon-action arrowLista" name="ios-arrow-forward-outline"></ion-icon>
                        </ion-label>

                    </ion-item>
                    <ion-item>
                        <ion-label>Pokémon Yellow <ion-icon class="icon-action arrowLista" name="ios-arrow-forward-outline"></ion-icon>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Pokémon Yellow <ion-icon class="icon-action arrowLista" name="ios-arrow-forward-outline"></ion-icon>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Pokémon Yellow <ion-icon class="icon-action arrowLista" name="ios-arrow-forward-outline"></ion-icon>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Pokémon Yellow <ion-icon class="icon-action arrowLista" name="ios-arrow-forward-outline"></ion-icon>
                        </ion-label>
                    </ion-item>
                </ion-list> -->

            </ion-col>
        </ion-row>
        <!-- 
        <ion-row *ngIf="activePage.acciones && activePage.acciones.length">
            <ion-col>
                <ion-slides slidesPerView="4.5">
                    <ion-slide *ngFor=" let accion of activePage.acciones">
                        <ion-icon [name]="accion.icono"></ion-icon>
                        <p style="font-size: 9px;">{{accion.titulo}}</p>
                    </ion-slide>
                </ion-slides>
            </ion-col>

        </ion-row> -->
    </ion-grid>

</div>