<ion-header>
</ion-header>

<div *ngIf="activePage.tipo == 'listadoDetalle'">

    <div>
        <!-- <ion-list *ngIf="listaItems && listaItems.length">
            <ion-item *ngFor="let item of listaItems" (click)="cambiarPagina(activePage,item)">
                <ion-label>{{item.Efector}}<ion-icon class="icon-action arrowLista" name="ios-arrow-forward-outline">
                    </ion-icon>
                </ion-label>

            </ion-item>
        </ion-list> -->
        <ion-list>
            <ion-item (click)="cambiarPagina(activePage,item)">
                <ion-label>Pokémon Yellow <ion-icon class="icon-action arrowLista" name="ios-arrow-forward-outline"></ion-icon>
                </ion-label>

            </ion-item>
            <ion-item>
                <ion-label>Pokémon Yellow <ion-icon class="icon-action arrowLista" name="ios-arrow-forward-outline"></ion-icon>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Pokémon Yellow <ion-icon class="icon-action arrowLista" name="ios-arrow-forward-outline"></ion-icon>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Pokémon Yellow <ion-icon class="icon-action arrowLista" name="ios-arrow-forward-outline"></ion-icon>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Pokémon Yellow <ion-icon class="icon-action arrowLista" name="ios-arrow-forward-outline"></ion-icon>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>


    <div class='estadisticas' *ngIf="ejeActual">
        <h4>{{ejeActual.titulo}} <ion-icon ios="ios-close" md="md-close" (click)='ejeActual = null'></ion-icon>
        </h4>
        <ion-grid>
            <ion-row>
                <ion-col *ngFor="let accion of ejeActual.acciones">
                    <span class='valorEstadistica'>{{accion.consulta}}</span> <br>
                    <span class='tituloEstadistica'>{{accion.titulo}} </span>
                    <br>
                    <hr>
                </ion-col>

            </ion-row>
        </ion-grid>
    </div>

    <ion-row class="slideMenu" *ngIf="activePage.acciones && activePage.acciones.length">
            <ion-slides slidesPerView="4.5">
                <ion-slide *ngFor=" let accion of activePage.acciones">
                    <!-- <img src="assets/svg/andes-paciente-in.svg"> -->
                    <div (click)="cargarValores(accion)">
                        <div class="iconAndes iconAndes-{{accion.icono}}"></div>
                        <p style="font-size: 9px;">{{accion.titulo}}</p>
                    </div>

                </ion-slide>
            </ion-slides>

    </ion-row>

</div>