.itemsAlingLeft {
  text-align: left;
}
.descripcion {
white-space: normal;
}
.fechaListado {
  margin: 4px;
  margin-bottom: 8px;
}

#listadoProblemas{

  .scroll-content{
/* padding-bottom: 71px; */
margin-top: 0px !important;
height: 650px;
margin-bottom: 0px !important;
  }

}
