<ion-header>
</ion-header>

<ion-content background="dark" *ngIf="activePage.tipo == 'mapa'">
    <div class='medidasMapa2'>
        <svg id="Layer_1" class="medidasMapa" [attr.viewBox]=activePage.tamanoMapa data-name="Layer 1"
             xmlns="http://www.w3.org/2000/svg">
            <ng-container *ngFor='let datos of mapaSvg; let i = index'>
                <path id='12' data-name="Neuquén" stroke-width='5px' [attr.stroke]=datos.stroke [attr.d]=datos.d
                      (click)='cambiarPagina(datos)'
                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-linejoin: round; cursor: pointer;"
                      stroke-miterlimit="10"></path>
            </ng-container>
        </svg>
    </div>
    <div class='estadisticas' *ngIf="ejeActual ">
        <h4>{{ejeActual.titulo}} <ion-icon ios="ios-close" md="md-close" (click)='ejeActual = null'></ion-icon>
        </h4>
        <ion-grid>
            <ion-row>
                <ion-col *ngFor="let accion of ejeActual.acciones">
                    <span class='valorEstadistica'>{{accion.consulta}}</span> <br>
                    <span class='tituloEstadistica'>{{accion.titulo}} </span>
                    <br>
                    <hr>
                </ion-col>

            </ion-row>
        </ion-grid>
        <!-- <ul class="andes-list" *ngIf="ejeActual.acciones && ejeActual.acciones.length" compact>
                <li *ngFor="let accion of ejeActual.acciones">
                    <div>{{accion.titulo}}: {{accion.valor}}</div>
                </li>
            </ul> -->
    </div>

    <div class='estadisticas' *ngIf="activePage.showEstadisticas ">
        <h4>{{activePage.titulo}} <ion-icon ios="ios-close" md="md-close" (click)='ejeActual = null'></ion-icon>
        </h4>

    </div>
    <!-- <div *ngIf="!ejeActual.acciones">
            <span>Sin datos</span>
        </div> -->
    <ion-scroll scrollX="true" class='accionScroll'>
        <ion-col col-33 *ngFor=" let accion of activePageCopy.acciones">
            <div class="card card-1" (click)="cargarValores(accion)">
                <!-- <ion-icon name="circulo-medico"></ion-icon> -->
                <div class="iconAndes iconAndes-{{accion.icono}}"></div>
                <p class='textoIconos'>{{accion.titulo}}</p>
            </div>
        </ion-col>

    </ion-scroll>

</ion-content>
