<ion-header>
</ion-header>

<div *ngIf="activePage.tipo == 'mapa'">
    <div class='medidasMapa2'>
        <svg id="Layer_1" class="medidasMapa" [attr.viewBox]=activePage.tamanoMapa data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg">
            <ng-container *ngFor='let datos of mapaSvg '>
                <path id='12' class="pathMap" data-name="Neuquén" stroke-width='5px' [attr.stroke]=datos.stroke
                    [attr.d]=datos.d (click)='cambiarPagina(datos)'
                    style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-linejoin: round; cursor: pointer;"
                    stroke-miterlimit="10"></path>


            </ng-container>
            <ng-container *ngFor='let datos of mapaSvg; let i = index'>

                <path fill="#FFFFFF" (click)='cambiarPagina(datos)' stroke="rgb(128, 128, 128)" stroke-miterlimit="10"
                    [attr.d]=datos.pathBadgePrincipal />
                <text [attr.transform]=datos.textMatrix (click)='cambiarPagina(datos)'
                    font-family="'SourceSansPro-Bold'" [attr.fill]=datos.colorCircleMap
                    font-size="13">{{datos.textBadge}}</text>
                <circle class="iconMapa" fill='none' [attr.stroke]=datos.colorCircleMap stroke-width="1.9353"
                    stroke-miterlimit="10" [attr.cy]=datos.cy [attr.cx]=datos.cx r="17.418" />
                <path [attr.fill]=datos.colorCircleMap [attr.d]=datos.patchBadgeFinal />

            </ng-container>



        </svg>
    </div>
    <div class='estadisticas' *ngIf="ejeActual">
        <h4>{{ejeActual.titulo}} <ion-icon ios="ios-close" class="btnCerrar" md="md-close" (click)='ejeActual = null'>
            </ion-icon>
        </h4>
        <ion-grid>
            <ion-row>
                <ion-col *ngFor="let accion of datos" (click)='mostrarListado(accion.titulo)'>
                    <span class='valorEstadistica'>{{accion.consulta}}</span> <br>
                    <span class='tituloEstadistica'>{{accion.titulo}} </span>
                    <br>
                    <hr>
                </ion-col>

            </ion-row>
        </ion-grid>
        <!-- <ul class="andes-list" *ngIf="ejeActual.acciones && ejeActual.acciones.length" compact>
                <li *ngFor="let accion of ejeActual.acciones">
                    <div>{{accion.titulo}}: {{accion.valor}}</div>
                </li>
            </ul> -->
    </div>

    <div class='estadisticas' *ngIf="activePage.showEstadisticas ">
        <h4>{{activePage.titulo}} <ion-icon ios="ios-close" md="md-close" (click)='ejeActual = null'></ion-icon>
        </h4>

    </div>
    <!-- <div *ngIf="!ejeActual.acciones">
            <span>Sin datos</span>
        </div> -->
    <ion-row class="slideMenu" *ngIf="activePage.acciones && activePage.acciones.length">
        <ion-slides slidesPerView="4.5">
            <ion-slide *ngFor=" let accion of activePage.acciones">
                <!-- <img src="assets/svg/andes-paciente-in.svg"> -->
                <div (click)="cargarValores(accion)">
                    <div class="iconAndes iconAndes-{{accion.icono}}"></div>
                    <p style="font-size: 9px;">{{accion.titulo}}</p>
                </div>

            </ion-slide>
        </ion-slides>

    </ion-row>

</div>