<form [formGroup]="form" (ngSubmit)="armarCorreo()">
    <ion-list>
        <ion-item margin-bottom>
            <ion-label>Para:</ion-label>
            <ion-select formControlName="to" [(ngModel)]="to" multiple="true">
                <ion-option *ngFor="let correo of correos" [value]="correo">{{correo}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item margin-bottom>
            <ion-label>Asunto:</ion-label>
            <ion-input formControlName="subject" [(ngModel)]="asunto" type="string"></ion-input>
        </ion-item>
        <ion-item margin-bottom>
            <ion-label>Mensaje:</ion-label>
            <ion-textarea formControlName="message" [(ngModel)]="mensaje"></ion-textarea>
        </ion-item>
        <ion-row>
            <ion-col>
                <span ion-button n color="primary" text-center block (click)="tomarFoto()">Toma una foto</span>
            </ion-col>
            <ion-col>
                <span ion-button color="primary" text-center block (click)="seleccionarArchivo()">Adjuntar</span>

            </ion-col>

        </ion-row>

        <ion-row>
            <ion-list>
                <ion-item-sliding #item *ngFor="let adj of _attachment; let i=index">
                    <ion-item>
                        <ion-thumbnail item-left>
                            <img [src]="adj.content">
                        </ion-thumbnail>
                    </ion-item>
                    <ion-item-options side="right">
                        <button ion-button color="danger" (click)="delete(i)">
                            <ion-icon name="trash"></ion-icon>
                            Borrar
                        </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>

        </ion-row>
        <button ion-button text-center block [disabled]="!form.valid">Enviar</button>

    </ion-list>
