@import "./../../theme/andes_variables.scss";

.container-mapa {
  height: 100%;
  width: 100%;
}

.toolbar {
  background-color: #016087 !important;
}

.content {
  background: #ececee !important;
}

.cabecera {
    margin-top: 30px;
    margin-bottom: 52px;
  h2 {
    color: $darkblue !important;
  }
  span {
    color: $info !important;
  }

   
    
  
}
.espacioLeft {
  margin-left: 2%;
}

.accionScroll .scroll-content {
  height: 90px;
}
