<ion-header class="gestion">
    <page-navbar [menu]="true">
        <span nav-title> <img src="assets/svg/app-logo-blanco.svg" width="42" height="42" />
            <img class='logoLetras' src="assets/img/logo_letras.png" />
            <div class='textoNavGestion'>| Gestión</div>
        </span>

    </page-navbar>
</ion-header>
<ion-content class="gestion">
    <!-- Mensaje bienvenida -->
    <div *ngIf="actualizando" class="no-item">
        <ads-icon icon="ball-triangle"></ads-icon>
    </div>
    <div *ngIf="!actualizando && activePage && activePage.template !== 'provincia'" class=" home espacioLeft tituloGestion ">
        <div>
            <h2> {{activePage.titulo.split(': ')[0]}} <span *ngIf="activePage.titulo.split(': ').length >= 2">:
                    {{activePage.titulo.split(': ')[1]}}</span>
                <span *ngIf="dataPage && dataPage.descripcion">
                    {{dataPage.descripcion}}</span>
            </h2>
            <hr>
        </div>

    </div>

    <!-- MAPA -->
    <div class="container-mapa" [ngClass]="{ ' alturaZona': activePage.template==='zona' }" *ngIf="!actualizando && activePage && activePage.tipo =='mapa'">
        <mapa-detalle [periodo]="periodo" [perDesdeMort]="perDesdeMort" [perHastaMort]="perHastaMort" [ultimaActualizacion]="ultimaActualizacion" [activePage]="activePage">
        </mapa-detalle>
    </div>

    <div class="container-lista" *ngIf="!actualizando && activePage && activePage.tipo=='listado'">
        <listado [activePage]="activePage" [id]="id"></listado>
    </div>

    <div class="container-listaDetalle" *ngIf="!actualizando && activePage && activePage.tipo=='listadoDetalle'">
        <listado-detalle [periodo]="periodo" [perDesdeMort]="perDesdeMort" [perHastaMort]="perHastaMort" [activePage]="activePage" [dataPage]="dataPage"></listado-detalle>
    </div>

    <div *ngIf="!actualizando && activePage && activePage.tipo=='detalleEfector'">
        <detalle-efector [periodo]="periodo" [perDesdeMort]="perDesdeMort" [perHastaMort]="perHastaMort" [activePage]="activePage" [dataPage]="dataPage"></detalle-efector>
    </div>

    <div *ngIf="!actualizando && numActivePage && numActivePage ==='Monitoreo'">
        <monitoreo [titulo]="titulo" [dataPage]="dataPage"></monitoreo>
    </div>
    <div *ngIf="!actualizando && numActivePage && numActivePage === 'registroProblema'">
        <registroProblema [titulo]="titulo" [origen]="origen" [dataPage]="dataPage"></registroProblema>
    </div>
    <div *ngIf="!actualizando && numActivePage && numActivePage === 'listado'">
        <listadoProblemas [titulo]="titulo" [dataPage]="dataPage"></listadoProblemas>
    </div>
    <div *ngIf="!actualizando && numActivePage && numActivePage === 'VisualizarProblema'">
        <VisualizarProblema [dataPage]="dataPage" [problema]="problema"></VisualizarProblema>
    </div>
    <div *ngIf="!actualizando && activePage && activePage.template === 'listadoProfesionales'">
        <listadoProfesionales [activePage]="activePage" [dataPage]="dataPage"></listadoProfesionales>
    </div>
    <div *ngIf="!actualizando && numActivePage && numActivePage === 'nuevaMinuta'">
        <nueva-minuta [titulo]="titulo" [origen]="origen" [dataPage]="dataPage"></nueva-minuta>
    </div>
    <div *ngIf="!actualizando && numActivePage && numActivePage === 'listadoMinutas'">
        <listado-minutas [titulo]="titulo" [origen]="origen" [dataPage]="dataPage"></listado-minutas>
    </div>
    <div *ngIf="!actualizando && activePage && activePage.template === 'listadoVehiculos'">
        <listadoVehiculos [activePage]="activePage" [dataPage]="dataPage"></listadoVehiculos>
    </div>
</ion-content>
<ion-footer class="gestion">
    <ion-toolbar>
        <ion-title>
            <img class='logoGobierno' src="assets/img/logosFooter.png" width="178px" />
            <div class=" logoProvincia iconAndes iconAndes-logo-provincia"></div>


        </ion-title>
    </ion-toolbar>
</ion-footer>
