<ion-header>
    <page-navbar [menu]="true">
        <h2 *ngIf="activePage" nav-title>{{activePage.titulo}}</h2>
    </page-navbar>
</ion-header>
<ion-content background="dark" *ngIf="activePage">
    <!-- Mensaje bienvenida -->
    <div class="cabecera home" *ngIf="activePage.titulo == 'Nivel Provincial'">
    </div>

    <!-- MAPA -->
    <div class="container-mapa" *ngIf="activePage">
        <mapa-detalle [activePage]="activePage"></mapa-detalle>
    </div>

    <!-- <ng-container *ngIf="activePage">
     <ejes [activePage]="activePage"></ejes>
    </ng-container> -->
    <!--
    <ng-container class="container-lista" *ngIf="activePage.tipo == 'acciones'"> -->
    <ng-container class="container-lista">
        <h1>DATOS</h1>
        <!-- <ul class="andes-list" *ngIf="activePage.acciones && activePage.acciones.length" compact>
            <li *ngFor="let accion of activePage.acciones">
                <div *ngIf="accion.goto" (click)="cambiarPagina(accion.goto)">{{accion.titulo}}: {{accion.valor}}</div>
                <div *ngIf="!accion.goto">{{accion.titulo}}: {{accion.valor}}</div>
            </li>
        </ul> -->
    </ng-container>

</ion-content>