<ion-header>
    <page-navbar [menu]="true">
        <h2 *ngIf="activePage" nav-title>{{activePage.titulo}}</h2>
    </page-navbar>
</ion-header>
<ion-content background="dark" *ngIf="activePage">
    <!-- Mensaje bienvenida -->
    <div class="cabecera home" *ngIf="activePage.titulo === 'Nivel Provincial'">
    </div>

    <!-- MAPA -->
    <div class="container-mapa" *ngIf="activePage">
        <mapa-detalle [activePage]="activePage"></mapa-detalle>
    </div>

    <!-- <div *ngIf="activePage">
        <listado [activePage]="activePage"></listado>
    </div> -->

</ion-content>
