<ion-list *ngIf="!loader">
    <ion-item margin-bottom class="textoLeft">
        <span class='titulos'>Problema: </span><span>{{problema.problema}}</span>
    </ion-item>
    <ion-item margin-bottom class="textoLeft">
        <span class='titulos'>Responsable: </span><span>{{problema.responsable}}</span>
    </ion-item>
    <ion-item margin-bottom class="textoLeft">
        <span class='titulos'>Plazo de vencimiento: </span><span>{{problema.plazo | date: "dd/MM/yyyy"}}</span>
    </ion-item>
    <ion-item margin-bottom class="textoLeft">
        <ng-container *ngIf='!edit'>
            <span class='titulos'>Estado: </span>
            <div class="badge "
                 [ngClass]="{primary: problema.estado === 'en proceso', warning : problema.estado === 'pendiente', success: problema.estado === 'resuelto' }">
                {{problema.estado}}</div>
            <ion-icon *ngIf='puedeEditar' class="iconEdit" (click)='editar()' name="create"></ion-icon>
            <ion-row *ngIf="problema.resueltoPor && problema.estado === 'resuelto'">
                <ion-col col-12>
                    {{problema.resueltoPor}}
                </ion-col>
            </ion-row>

        </ng-container>
        <ng-container *ngIf='edit'>
            <ion-row justify-content-between>
                <ion-col col-9>

                    <ion-select full interface="popover" class="marginSelectEstado" placeholder="Seleccione estado"
                                [(ngModel)]='nuevoEstado'>
                        <ion-option *ngFor="let unEstado of estadosArray" [value]="unEstado">
                            {{unEstado}}
                        </ion-option>
                    </ion-select>
                </ion-col>
                <ion-col col-3>
                    <ion-icon class="btnEstado confirm" (click)='confirmAlert()' name="checkmark"></ion-icon>
                    <ion-icon class="btnEstado cancel" (click)='edit = false' name="close"></ion-icon>
                </ion-col>
            </ion-row>


        </ng-container>

    </ion-item>
    <ion-item margin-bottom class="textoLeft">
        <span class='titulos'>Origen: </span><span>{{problema.origen}}</span>
    </ion-item>
    <ion-row>
        <ion-slides *ngIf="imagenes?.length" slidesPerView="1.2">
            <ion-slide *ngFor="let unaImagen of imagenes; let i=index">
                <img [src]="unaImagen.BASE64">
            </ion-slide>
        </ion-slides>

    </ion-row>
    <ion-item margin-bottom *ngIf="minuta">
        <span class='titulos'>Minuta asociada:</span>
    </ion-item>
    <ion-label *ngIf="minuta">
        <ion-row justify-content-between (click)='verMinuta(minuta)'>
            <ion-col col-8 class="itemsAlingLeft">
                <div class="badge success">{{minuta.fecha | date:'dd/MM/yyyy'}}</div>
                <div class="badge primary">{{minuta.origen}}</div>
            </ion-col>
        </ion-row>
    </ion-label>

</ion-list>