<ion-content>
    <!-- Mapa para "centro-salud" -->
    <google-map *ngIf="myPosition && tipoMapa==='centro-salud'" [center]="center" [zoom]="zoom" [options]="mapOptions"
        height="100%" width="100%">

        <!-- Marcador del usuario -->
        <map-marker [position]="{lat: myPosition.latitude, lng: myPosition.longitude}" [icon]="userIcon">
        </map-marker>

        <!-- Marcadores de centros -->
        <map-marker *ngFor="let centro of centrosShow"
            [position]="{lat: centro.direccion.geoReferencia[0], lng: centro.direccion.geoReferencia[1]}"
            [icon]="locationIcon" (mapClick)="onClickCentro(centro)">

            <!-- InfoWindow -->
            <map-info-window>
                <div class="infowindow">
                    <ion-row class="title">
                        <ion-col>
                            <ion-label color="dark">
                                <h2><b>{{centro.nombre}}</b></h2>
                            </ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-label color="dark">
                                <h2>Dirección:</h2>
                                <h3>{{centro.direccion.valor}}</h3>
                                <ion-chip color="primary"
                                    (click)="navigateTo(centro.direccion.geoReferencia[0], centro.direccion.geoReferencia[1])">
                                    <ion-icon name="navigate"></ion-icon>
                                    <ion-label>Ver en mapa</ion-label>
                                </ion-chip>
                            </ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngFor="let c of centro.contacto; let i = index">
                        <ion-col class="no-padding">
                            <ion-label color="dark">
                                <h2>Teléfono:</h2>
                                <h3>{{c.valor}}</h3>
                            </ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col *ngIf="prestaciones.length">
                            <ion-label color="dark">
                                <h2> Prestaciones: </h2>
                                <h3 *ngFor="let p of prestaciones.slice(0, 5 - centro.contacto.length)">
                                    <span *ngIf="p.detalle" class="andes-capitalize">{{p.prestacion.term}} -
                                        {{p.detalle}}</span>
                                    <span *ngIf="!p.detalle" class="andes-capitalize">{{p.prestacion.term}}</span>
                                </h3>
                            </ion-label>
                            <div *ngIf="prestaciones.length + centro.contacto.length > 5">
                                <ion-button color="success" size="small" (click)="toPrestaciones(centro)">
                                    VER MÁS
                                </ion-button>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
            </map-info-window>
        </map-marker>
    </google-map>

    <!-- Mapa para "araucania" -->
    <google-map *ngIf="myPosition && tipoMapa==='araucania'" [center]="centerAraucania" [zoom]="zoom"
        [options]="mapOptions" height="100%" width="100%">

        <map-marker [position]="{lat: myPosition.latitude, lng: myPosition.longitude}" [icon]="userIcon">
        </map-marker>

        <map-marker *ngFor="let centro of centrosShow" [position]="{lat: centro.latitud, lng: centro.longitud}"
            [icon]="locationIcon" (mapClick)="onClickCentro(centro)">

            <map-info-window>
                <div class="infowindow">
                    <ion-row class="title">
                        <ion-col>
                            <ion-label color="dark">
                                <h2><b>{{centro.nombre}}</b></h2>
                                <h3>{{centro.complejidad}}</h3>
                            </ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-label color="dark">
                                <h2>Dirección:</h2>
                                <h3>{{centro.direccion}}</h3>
                                <h3>Comuna: {{centro.comunidad}}</h3>
                                <h3>Región: {{centro.region}}</h3>
                                <ion-chip color="primary" (click)="navigateTo(centro.latitud, centro.longitud)">
                                    <ion-icon name="navigate"></ion-icon>
                                    <ion-label>Ver en mapa</ion-label>
                                </ion-chip>
                            </ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="centro.telefono && centro.telefono !== ''">
                        <ion-col class="no-padding">
                            <ion-label color="dark">
                                <h2>Teléfono:</h2>
                                <h3>(+56) {{centro.telefono}}</h3>
                            </ion-label>
                        </ion-col>
                    </ion-row>
                </div>
            </map-info-window>
        </map-marker>
    </google-map>
</ion-content>