<ion-content>
    <agm-map #gm [latitude]="center.latitude" [longitude]="center.longitude" [zoom]="zoom">
        <agm-marker *ngIf="myPosition" [iconUrl]="'assets/icon/estoy_aca.png'" [latitude]="myPosition.latitude"
                    [longitude]="myPosition.longitude"></agm-marker>
        <agm-marker *ngFor="let centro of centrosShow"
                    (markerClick)="onClickCentro(centro); gm.lastOpen?.close(); gm.lastOpen = infoWindow"
                    [iconUrl]="'assets/icon/hospitallocation.png'" [latitude]="centro.direccion.geoReferencia[0]"
                    [longitude]="centro.direccion.geoReferencia[1]">
            <agm-info-window [disableAutoPan]="false" #infoWindow>
                <div class="infowindow">
                    <ion-row class="title">
                        <ion-col>
                            <ion-label color="dark">
                                <h2>
                                    <b>{{centro.nombre}}</b>
                                </h2>
                            </ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-label color="dark">
                                <h2>Dirección:</h2>
                                <h3>{{centro.direccion.valor}}</h3>
                                <ion-chip color="primary"
                                          (click)="navigateTo(centro.direccion.geoReferencia[0], centro.direccion.geoReferencia[1])">
                                    <ion-icon name="navigate"></ion-icon>
                                    <ion-label>Ver en mapa</ion-label>
                                </ion-chip>
                            </ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngFor="let c of centro.contacto; let i = index">
                        <ion-col class="no-padding">
                            <ion-label color="dark">
                                <h2>Teléfono:</h2>
                                <h3>{{c.valor}}</h3>
                            </ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col *ngIf="prestaciones.length">
                            <ion-label color="dark">
                                <h2> Prestaciones: </h2>
                                <h3 *ngFor="let p of prestaciones.slice(0, 5-centro.contacto.length)">
                                    <span *ngIf="p.detalle" class="andes-capitalize">{{p.prestacion.term}} -
                                        {{p.detalle}} </span>
                                    <span *ngIf="!p.detalle" class="andes-capitalize">{{p.prestacion.term}} </span>
                                </h3>
                            </ion-label>
                            <div *ngIf="prestaciones.length + centro.contacto.length > 5">
                                <ion-button color="success" size="small"
                                            (click)="gm.lastOpen?.close(); toPrestaciones(centro)">
                                    VER MÁS
                                </ion-button>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
            </agm-info-window>
        </agm-marker>
    </agm-map>
</ion-content>