<ion-header class="dark" translucent="true">
    <ion-toolbar>
        <img class="ion-padding-start" slot="start" src="assets/svg/app-logo-blanco.svg" width="42" height="42" />
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [ngClass]="background">
    <ion-grid class="home" fixed="true">
        <ion-row class="ion-align-items-center">
            <ion-col size="12">
                <!-- Mensaje bienvenida -->
                <div class="cabecera home">
                    <div class="title-container">
                        <h3 class="welcome-title" *ngIf="isLogin() && user"> Hola {{ user.nombre}}</h3>
                        <h3 class="welcome-title" *ngIf="!isLogin()"> Bienvenido </h3>
                        <h4 class="welcome-subtitle " [ngClass]="{'wheat' : familiar, 'primary': !familiar}">¿Qué deseas
                            hacer por tu salud hoy?</h4>
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
            <ion-col size="12">
                <!-- Menu principal Paciente logueado/validado -->
                <!-- Paciente no logueado -->
                <section class="fab-container" [ngClass]="{'show': started}" *ngIf="!isProfesional()">
                    <button class="fab-principal home-button" routerLink="/login" [disabled]="isLogin()">
                        <img class="" src="assets/svg/andes-paciente-in.svg" *ngIf="isLogin() && !familiar" alt="">
                        <img class="" src="assets/svg/andes-familiar-in.svg" *ngIf="isLogin() && familiar" alt="">
                        <img class="nologin" src="assets/svg/andes-paciente-out.svg" *ngIf="!isLogin()" alt="">
                    </button>
                    <ul class="circle-container">
                        <li class="fab-secundario">
                            <div class="item-content horizontal ic-0">
                                <a class="item-icon outline circular" [class.disabled]="!isLogin()"
                                   (click)="misTurnos()">
                                    <ion-icon name="andes-turno"></ion-icon>
                                </a>
                                <div class="fab-title" (click)="misTurnos()">Mis<br>turnos</div>
                            </div>
                        </li>

                        <li class="fab-secundario">
                            <div class="item-content horizontal ic-1">
                                <a class="item-icon outline circular" [class.disabled]="!isLogin()" (click)="vacunas()">
                                    <ion-icon name="andes-vacuna"></ion-icon>
                                </a>
                                <div class="fab-title" (click)="vacunas()">Mis<br>vacunas</div>
                            </div>
                        </li>

                        <li class="fab-secundario">
                            <div class="item-content horizontal ic-2">
                                <a class="item-icon outline circular" [class.disabled]="!isLogin()"
                                   (click)="laboratorio()">
                                    <ion-icon name="andes-laboratorio"></ion-icon>
                                </a>
                                <div class="fab-title" (click)="laboratorio()">Mis<br>laboratorios </div>
                            </div>
                        </li>

                        <li class="fab-secundario" *ngIf="!familiar">
                            <div class="item-content vertical ic-3">
                                <a class="item-icon outline circular" [class.disabled]="!isLogin()"
                                   (click)="misFamiliares()">
                                    <ion-icon name="andes-violencia-familiar"></ion-icon>
                                </a>
                                <div class="fab-title" (click)="misFamiliares()">Mis<br>familiares
                                </div>
                            </div>
                        </li>


                        <li class="fab-secundario" *ngIf="familiar">
                            <div class="item-content vertical ic-3">
                                <a class="item-icon outline circular" [class.disabled]="!isLogin()"
                                   (click)="salirDeFamiliar()">
                                    <ion-icon name="andes-violencia-familiar"></ion-icon>
                                </a>
                                <div class="fab-title" (click)="salirDeFamiliar()">Salir de<br>familiar
                                </div>
                            </div>
                        </li>

                        <li class="fab-secundario">
                            <div class="item-content horizontal-left ic-3">
                                <a class="item-icon outline circular" [class.disabled]="!isLogin()"
                                   (click)="historiaDeSalud()">
                                    <ion-icon name="andes-huds"></ion-icon>
                                </a>
                                <div class="fab-title" (click)="historiaDeSalud()">Mi historia<br>de salud</div>
                            </div>
                        </li>

                    </ul>
                </section>

                <!-- Menu principal Profesional -->
                <section class="fab-container" [ngClass]="{'show': started}" *ngIf="isProfesional()">
                    <button class="fab-principal home-button">
                        <img src="assets/svg/andes-profesional-in.svg" alt="">
                    </button>
                    <ul class="circle-container">
                        <li class="fab-secundario">
                            <div class="item-content horizontal ic-0">
                                <a class="item-icon outline circular" [class.disabled]="!isLogin()"
                                   (click)="misMatriculas()">
                                    <ion-icon class="icono-usuarios" name="andes-usuarios"></ion-icon>
                                </a>
                                <div class="fab-title" (click)="misMatriculas()">Mis<br>matrículas
                                </div>
                            </div>
                        </li>
                        <li class="fab-secundario"
                            [ngStyle]="{visibility: authService.check('rup:?') ? 'visible' : 'hidden' }">
                            <div class="item-content horizontal ic-1">
                                <a class="item-icon outline circular" [class.disabled]="!isLogin()" (click)="rup()">
                                    <ion-icon name="andes-vacuna"></ion-icon>
                                </a>
                                <div class="fab-title" (click)="rup()"> RUP </div>
                            </div>
                        </li>

                        <li class="fab-secundario">
                            <div class="item-content horizontal ic-2">
                                <a class="item-icon outline circular" [class.disabled]="!isLogin()"
                                   (click)="misAgendas()">
                                    <ion-icon name="andes-turno"></ion-icon>
                                </a>
                                <div class="fab-title" (click)="misAgendas()">Mis<br>agendas</div>
                            </div>
                        </li>
                        <li class="fab-secundario"
                            [ngStyle]="{visibility: authService.check('mpi:?') ? 'visible' : 'hidden' }">
                            <div class="item-content vertical ic-3">
                                <a class="item-icon outline circular" [class.disabled]="!isLogin()" (click)="mpi()">
                                    <ion-icon name="andes-mpi"></ion-icon>
                                </a>
                                <div class="fab-title" (click)="mpi()">MPI </div>
                            </div>
                        </li>
                        <li class="fab-secundario">
                            <div class="item-content horizontal-left ic-4">
                                <a class="item-icon outline circular" [class.disabled]="!isLogin()"
                                   (click)="formularioTerapeutico()">
                                    <ion-icon name="medkit-outline"></ion-icon>
                                </a>
                                <div class="fab-title" (click)="formularioTerapeutico()">Formulario <br>terapéutico
                                </div>
                            </div>
                        </li>
                        <li class="fab-secundario"></li>
                        <li class="fab-secundario"></li>
                        <li class="fab-secundario"></li>
                    </ul>
                </section>
            </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-end">
            <ion-col size="6">
                <div class="contenedor-botonera">
                    <!-- Numeros de Emergencia -->
                    <div class="botonera-left">
                        <div class="contenedor">
                            <a class="item-icon outline circular contenedor" (click)="campanias()">
                                <ion-icon name="andes-agendas"></ion-icon>
                            </a>
                            <div class="item-title btn-text">Campañas de salud</div>
                        </div>
                        <div class="contenedor">
                            <a class="item-icon outline circular contenedor" (click)="farmacias()">
                                <ion-icon name="andes-farmacia"></ion-icon>
                            </a>
                            <div class="item-title btn-text" (click)="farmacias()">Farmacias de turno</div>
                        </div>
                        <div class="contenedor">
                            <a class="item-icon danger circular ambulancia border" (click)="numerosUtiles()">
                                <ion-icon name="andes-ambulancia"></ion-icon>
                                <span class="item-icon covitiado danger">
                                    <img src="assets/svg/andes-corona-badge.svg" alt="">
                                </span>
                            </a>
                            <div class="d-flex flex-column circular">
                                <span class="badge warning sm">0800 333 1002</span>
                                <span class="item-title btn-text" (click)="numerosUtiles()">Números de emergencia</span>
                            </div>
                        </div>
                    </div>

                </div>
            </ion-col>

            <ion-col size="6">
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="mapa ion-margin-bottom">
        <ion-label color="light">Mi Mapa de Salud</ion-label>
        <ion-fab-button>
            <ion-icon name="andes-marker-salud"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top" class="mapas">
            <ion-label color="light" (click)="centrosDeSalud()">Centros de Atención</ion-label>
            <ion-fab-button color="primary" (click)="centrosDeSalud()">
                <ion-icon color="light" name="andes-marker-salud"></ion-icon>
            </ion-fab-button>
            <ion-label color="light" (click)="puntosDetectar()">Puntos&nbsp;<b>detectar</b></ion-label>
            <ion-fab-button color="light" (click)="puntosDetectar()">
                <ion-icon color="primary" name="andes-marker-salud"></ion-icon>
            </ion-fab-button>
            <ion-label color="light" (click)="vacunatorios()">Centros de Vacunación</ion-label>
            <ion-fab-button color="secondary" (click)="vacunatorios()">
                <ion-icon color="light" name="andes-vacuna"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>