name: BUILD AND TEST

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '16'
          cache: 'npm'

      - name: Install dependencies
        run: npm install --legacy-peer-deps

      - run: cp ./src/environments/environment.ts.example ./src/environments/environment.ts
      - run: cp ./src/environments/environment.ts.example ./src/environments/environment.dev.ts
      - run: cp ./src/environments/environment.ts.example ./src/environments/environment.prod.ts

      - run: npx ionic cordova resources android
      - run: npx ionic cordova platform add android
      - run: npx ionic cordova build android

      - name: Archive build
        uses: actions/upload-artifact@v4
        with:
          name: andes-app
          path: ./platforms/android/app/build/outputs
